.right_float_hidden.hidden.show770{
  float: right;
  position: absolute;
  display: none;
  visibility: hidden;
  text-align: center;
  right: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
}
.reserveBarFixed .datepickerInputWrapper .dateText p.data, .reserveBarFixed .countDropdownTrigger_data .text > p {
    font-size: 12.5px;
    font-weight: 600;
    padding-top: 18px;
}

.reserveBarFixed .countDropdownTrigger_data .text > p {
    padding-top: 2px;
}

.reservationBarWrapper .step.countStep span.dropdownArrow {
    margin-top: -8px;
}

.reserveBarFixed .reservationBarWrapper .step span.dropdownArrow {
    width: 12px;
    height: 10px;
    margin-top: -8px!important;
    right: 10px;
}

.fixedReserveRow .reservationBarWrapper > .container .step {
    height: 42px;
}

.reserveBarFixed .countDropdownMenu {
}

div.reserveBarFixed .datepickerInputWrapper .dateText p.data {
    padding-top: 15px;
}

.reserveBarFixed .stepDate .datepickerCellUI .rd-container,.reserveBarFixed .stepDate .datepickerCellUIConfirm .rd-container {
    top: calc(100% + 3px);
}

.datepickerCellUI.whenSelectorParent:before,.datepickerCellUIConfirm.whenSelectorParent:before {content: '';position: absolute;width: 24px;height: 24px;background: #FFFFFF;display: block;top: 44px;left: 30px;z-index: 100;-webkit-box-shadow: 0 2px 6px #e5e5e5, 0 0 0 1px #e5e5e5;box-shadow: 0 2px 6px #e5e5e5, 0 0 0 1px #e5e5e5;border-radius: 3px!important;-webkit-transform: rotate(45deg);transform: rotate(45deg);display: none;}

.datepickerCellUI.whenSelectorParent:after,.datepickerCellUIConfirm.whenSelectorParent:after {content: '';position: absolute;background: #FFFFFF;width: 21px;height: 1px;z-index: 1000000000;display: block;top: 49px;left: 32px;display: none;}

.datepickerInputWrapper.datepickerActive .datepickerCellUI.whenSelectorParent:before, .datepickerInputWrapper.datepickerActive .datepickerCellUIConfirm.whenSelectorParent:before {
    display: block;
}

.datepickerInputWrapper.datepickerActive .datepickerCellUI.whenSelectorParent:after,.datepickerInputWrapper.datepickerActive .datepickerCellUIConfirm.whenSelectorParent:after {
    display: block;
}

.fixedReserveRow .reservationBarWrapper .step.finalStep .btn p {
    font-weight: bold;
}

.reserveBarFixed .reservationBarWrapper .step select {
    font-size: 12.5px;
    font-weight: 600;
    padding: 14px 15px 10px;
}

.reserveBarFixed .reservationBarWrapper .step select + span.dropdownArrow {
    margin-top: -4px!important;
}
div a.primaryBtn.btn.triggerFixedReserveBox.cartIconPresent {
    right: initial;
    margin-right: 50px;
}
.imagesCalls.availablePackagesWrapper_mobile {
    display: none;
}

.imagesCalls.availablePackagesWrapper_mobile {}
.pageWrapper.packagesPageWrapper .packagesGrid:after {
    clear: both;
    content: '';
    display: table;
}
.col.hidden.responsiveRentalDiscounts {
    display: none;
    visibility: hidden;
}
div.show860.fixedReserveTriggerWrapper.cartIconPresent,a.primaryBtn.btn.triggerFixedReserveBox.cartIconPresent {
    right: calc(50% + 27px);
}

div.fixedReserveTriggerWrapper.cartIconPresent > a {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
}
.col.hidden.responsiveRentalDiscounts .equipmentFreeSection.row {
    text-align: center;
}

.col.hidden.responsiveRentalDiscounts .equipmentFreeSection.row > .col {
    float: none;
    display: inline-block;
}

.col.hidden.responsiveRentalDiscounts .getDiscountsSection.row {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}
.ui-slider-access button.ui-button.ui-widget {
    background: transparent;
    border-color: #0070BB;
    color: #0070BB;
    margin-right: -2px;
    float: left;
    height: 28px;
    outline: none;
    border-width: 2px;
}

.ui-slider-access button.ui-button.ui-widget > span.ui-button-text {
    color: #0070BB;
    text-indent: 0px!important;
    font-weight: 600;
}

.ui-slider-access button.ui-button.ui-widget > span.ui-button-icon-primary {
    display: none;
}

span.ui-slider-access.ui-buttonset.ui-corner-left {
    float: right;
    vertical-align: top;
    display: inline-block;
    margin-top: -9px;
}

.ui-timepicker-div dl dd.ui_tpicker_hour:after, .ui-timepicker-div dl dd.ui_tpicker_minute:after {
    clear: both;
    content: '';
    display: table;
}

.ui-slider-access button.ui-button.ui-widget:hover {
    color: #FFFFFF;
    background: #0098db;
    border-color: #0098db;
    z-index: 100;
}

.homepageTourInfo .equipmentBox .footer .btn:hover {
    background: #0070BB;
    color: #FFFFFF;
}

.ui-slider-access button.ui-button.ui-widget:hover > span {
    color: #FFFFFF!important;
}
.pageWrapper.packagesPageWrapper .packagesGrid:before {content: '';clear: both;}
.show860.responsiveCheckoutSummary{
  opacity:0;
  visibility:hidden;
  display:none;
  pointer-events:none;
  border: 2px solid rgba(12,23,29,0.1);
  border-radius: 9px;
  background: #FFFFFF;
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 24px 32px;
}
body.fixedReserveActive {
    overflow: hidden;
}
.equipmentSelectionBox .tabController:after {content: '';position: absolute;right: 0;top: 0;height: 44px;width: 50px;background: linear-gradient(-90deg,rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.68) 29%,rgba(255, 255, 255, 0) 100%);}
body.fixedReserveActive .absHorizCenter {}

body.fixedReserveActive .absHorizCenter .reservationBarWrapper {
    display: block;
    visibility: visible;
    pointer-events: all;
}

body.fixedReserveActive div#mainHeader,body.fixedReserveActive .pageWrapper {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}


body.fixedReserveActive div.show860.fixedReserveTriggerWrapper > a {
    background: rgba(12, 23, 29, 0.1)!important;
    color: #fff;
    border-color: #fff !important;
}
.show860.fixedReserveTriggerWrapper {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.show860.fixedReserveTriggerWrapper > a{
    padding: 24px 30px 23px;
    font-size: 16px;
}
.globalSideMenu ul.sidebar_link_list li .socialRow.row {
    margin-left: 20px;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col {
    width: 34px;
    height: 34px;
    margin-right: 16px;
    margin-top: 10px;
    float: none;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col:last-child {
    display: block;
    width: 100%!important;
    float: none;
    padding-top: 12px;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col a {
    padding: 0;
    display: block;
    height: 100%;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col icon {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col:last-child icon {
    -webkit-filter: brightness(10000%);
    width: 17px;
    height: 19px;
}

.globalSideMenu ul.sidebar_link_list li .socialRow.row .col:last-child p {
    display: inline-block;
    vertical-align: top;
}
.globalSideMenu ul.sidebar_link_list li a {
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .12em;
    padding-left: 24px;
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}

.globalSideMenu ul.sidebar_link_list li.triggerNavSubRow .subNavWrap {
    position: relative;
    visibility: visible;
    max-height: initial;
    opacity: 1;
    width: initial;
    left: initial;
    font-size: 12px;
    top: initial;
    -webkit-transform: none!important;
    transform: none!important;
}
.show860.responsiveCheckoutSummary {}

.show860.responsiveCheckoutSummary .checkoutSummaryData {
    border-bottom: 0;
}

.show860.responsiveCheckoutSummary h3.medium_big {
    font-size: 20px;
    opacity: .7;
    margin-bottom: 18px;
}
.globalSideMenu ul.sidebar_link_list li.triggerNavSubRow .subNavLinksList {
    background: transparent;
    box-shadow: none;
    margin-top: -3px;
    padding-left: 19px;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-bottom: -2px;
    overflow: hidden;
}

.globalSideMenu ul.sidebar_link_list li.triggerNavSubRow .subNavWrap:before {
    display: none;
}

.globalSideMenu ul.sidebar_link_list li.triggerNavSubRow .subNavWrap:after {
    display: none;
}

.globalSideMenu ul.sidebar_link_list li.triggerNavSubRow .subNavLinksList a {
    color: #FFFFFF;
    padding-top: 9px!important;
    padding-bottom: 4px!important;
    margin-left: -21px;
    padding-left: 40px!important;
    background: rgba(127, 140, 193, 0.25);
}

.globalSideMenu ul.sidebar_link_list li a.footerLink {
    font-size: 12px;
    font-weight: 600;
}

.globalSideMenu ul.sidebar_link_list li a.footerLink p span {
    font-weight: 600;
    text-transform: none;
    margin-top: 0px;
    letter-spacing: .05em;
}

.globalSideMenu ul.sidebar_link_list li a.footerLink p icon {
    filter: brightness(10000%);
    -webkit-filter: brightness(10000%);
    display: inline-block;
}

.globalSideMenu ul.sidebar_link_list li a:hover {
    opacity: .7;
}
.globalSideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    -webkit-transform: rotateX(-15deg) translateX(100%);
    transform: rotateX(-15deg) translateX(100%);
    opacity: 0;
    width: 270px;
    will-change: transform,opacity;
    background: #DC2005;
    z-index: 1000000000000;
}

a.menuBtn.globalSideMenuTrigger {
    border-left: 2px solid #e1e1e1;
    display: inline-block;
    height: 100%;
    padding-left: 17px;
    vertical-align: top;
}

a.menuBtn.globalSideMenuTrigger icon {
    margin: 9px;
    opacity: .8;
    margin-right: 2px;
    margin-left: 4px;
}

a.menuBtn.globalSideMenuTrigger > span.text {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
    letter-spacing: .12em;
    font-size: 14px;
    color: #333;
}

a.menuBtn.globalSideMenuTrigger > span.text > span.close {
    display: none;
    letter-spacing: .12em;
    font-size: 14px;
    font-weight: 600;
    text-shadow: none;
    color: inherit;
    opacity: 1;
}

body.sidebarMenuActive {
}

body.sidebarMenuActive .globalSideMenu {
    opacity: 1;
    -webkit-transform: rotateX(0) translateX(0%);
    transform: rotateX(0) translateX(0%);
    pointer-events: all;
}

.responsiveMenuCurtain {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    z-index: 100000;
    pointer-events: none;
    opacity: 0;
    display: none;
}

body.sidebarMenuActive .responsiveMenuCurtain {
    opacity: 1;
    pointer-events: all;
}

body.sidebarMenuActive  div#mainHeader {
    -webkit-transform: translateX(-270px) translate3d(0,0,0);
    transform: translateX(-270px) translate3d(0,0,0);
}

div.mainPageContainer div.pageWrapper {
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.77,0,0.175,1);
    transition: transform .25s cubic-bezier(0.77,0,0.175,1);
    will-change: transform, opacity, -webkit-filter,filter;
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}
body.package div.mainPageContainer div.pageWrapper {
        -webkit-transition: none;
    transition: none;
    will-change: inherit;
    -webkit-transform: none;
    transform: none;
}
body.sidebarMenuActive .fixedReserveRow {
    -webkit-transform: translateX(-270px);
    transform: translateX(-270px);
}

body.sidebarMenuActive div.mainPageContainer  .mainFooterWrapper, body.sidebarMenuActive div.mainPageContainer div.pageWrapper {
    -webkit-transform: translateX(-270px) translate3d(0px,0px,0px);
    transform: translateX(-270px) translate3d(0px,0px,0px);
    opacity: .35;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.globalSideMenu ul.sidebar_link_list {
    float: none!important;
    padding: 0;
    z-index: 2;
    position: Relative;
}

a.menuBtn.globalSideMenuTrigger.clicked {}

a.menuBtn.globalSideMenuTrigger.clicked span.text {}

a.menuBtn.globalSideMenuTrigger.clicked span.text span.open {
    display: none;
}

a.menuBtn.globalSideMenuTrigger.clicked span.text span.close {
    display: block;
}

.globalSideMenu:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}
.menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 70%;
  width: initial;
}

.menu-circle {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.line-wrapper {
  width: 17px;
  height: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line {
  height: 2px;
  width: 17px;
  background: #333;
  display: block;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin-x: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.line-wrapper.clicked .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(7px) translateX(8px) translate3d(0,0,0);
  transform: rotate(45deg) translateY(4px) translateX(4px) translate3d(0,0,0);
}

.line-wrapper.clicked .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(6px);
  transform: rotate(-45deg) translateY(-3px) translateX(3px);
}

.line-wrapper.clicked .line:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.menu-circle:before,
.menu-circle:after {
  content: "";
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 1s, -webkit-transform .5s;
  transition: opacity 1s, -webkit-transform .5s;
  transition: transform .5s, opacity 1s;
  transition: transform .5s, opacity 1s, -webkit-transform .5s;
  top: calc(50% - 40px);
  left: calc(70% - 50px);
}

.menu-circle:before {
  background: transparent;
  z-index: -1;
}

.menu-circle:after {
  background: transparent;
  z-index: -2;
}

.menu-circle.clicked:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
}

.menu-circle.clicked:after {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  opacity: 0;
}

@media only screen and (max-width:1360px){
  .fixedReserveRow .absHorizCenter{
    max-width: 790px!important;
}
}

@media only screen and (max-width:1220px){
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li a {
    padding: 22px 22px 19px;
}
  section.middleSection.toursGrid.toursGridSimplified > .col{
    height: auto;
    padding-bottom: 78px;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child,section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer{width: calc(100% - 590px)!important;}
  section.middleSection.toursGrid.toursGridSimplified > .col .tourMediaSlider_container{
    width: 590px!important;
  }
  .col.bestViewsCol .bottomText p.val{
    font-size: 16.5px;
  }
  .equipmentFreeSection.row > .col{
    margin-right:24px;
  }
  section.deals.confirmationDealsRow.row .equipmentFreeSection.row.col{
    padding-left: 36px;
    padding-right: 36px;
  }
  section.midContainer.row.homepageTourInfo > .col:first-child{
    width:100%;
    padding-left: 0;
    padding-right: 0;
    max-width: 890px;
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
    padding-bottom: 48px;
  }
  .stampCircles.row{
    display:none;
  }
  section.midContainer.row.homepageTourInfo > .col:last-child{
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  div.fixedReserveRow .absHorizCenter{
    left: 148px;
    -webkit-transform: none;
    transform: none;
    }
    
}


@media only screen and (max-width:1170px){
  div.rightColResSummaryWrapper{
    display:block;
    visibility:visible;
  }
  .col.checkoutFormCol > .contentWidth .formWrapper .formSection.row.row_of_2 .col.reservationSummaryNested{
    display:none;
    visibility:hidden;
  }
  .col.checkoutFormCol > .contentWidth .formWrapper .formSection.row.row_of_2 > .col{
    width:100%;
  }
  .fixedReserveRow .right_float_hidden a.menuBtn.globalSideMenuTrigger{
    padding-right: 17px;
}
  .fixedReserveRow .right_float_hidden a.menuBtn.globalSideMenuTrigger > span.text{
    display: none;
  }
  .topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h1.valB{
    font-size: 42px;
  }
  .topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h3.valB.valUpper{
    font-size: 14px;
    max-width: 480px;
  }
  .absTransCenter.heroTextFixed.heroText a.btn.primaryBtn{
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col{
    right: 6px;
    height: 175px;
    width: 200px;
    border-radius: 0 6px 0 0;
  }
  .pageWrapper.packagesPageWrapper .packageGridItem .media.col,.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row > a{
    width: 324px;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col{
    width: calc(100% - 530px);
    padding-top: 32px;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h2.val{
    font-size:24px;
  }
  .pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col{
    width: 211px;
    height: 100px;
      bottom: 0;
    right: 1px;
      
  }
    .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col .absTransCenter {
        top:50%;
    }
    .pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a {
        padding-top: 10px;
    }
  .pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a{
    border-radius: 0 0 6px 0;
  }
    .column_reviews .why_choose_us ul {
        padding-top: 0;
    }
    .column_reviews .why_choose_us ul li {
        text-align: center;
        margin-bottom: 15px;
    }
    .column_reviews .why_choose_us li .image_box {
        margin-right: 0;
    }
    .column_reviews .why_choose_us li > .text_box {
        display: block;
        margin: 0 auto;
    }
    .column_reviews .why_choose_us li h6 {
        text-align: center;
    }
}

@media only screen and (max-width:1100px){
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li a {
    font-size: 12px;
    padding: 23px 19px 19px;
}
    section.homepageTours > h3{
    padding-left:40px;
  }
  section.bookingSection.middleSection .row.dealsEquipmentCols > .col:last-child .equipmentFreeSection h4 span{

  }
  section.bookingSection.middleSection .row.dealsEquipmentCols > .col:last-child .equipmentFreeSection > .col{
    float:none!important;
    display: inline-block;
    margin-bottom: 18px;
  }
  section.bookingSection.middleSection .row.dealsEquipmentCols > .col:last-child .equipmentFreeSection{
    text-align:center;
  }
  body.rentals .bookingSection .dealsEquipmentCols .getDiscountsSection.row{
    text-align:center;
    padding-left:12px;
    padding-right:12px;
  }
  .equipmentFreeSection.row > .text.col{
    width:100%;
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

  }

  .equipmentFreeSection .text.col h4.val.gray br{
    display: none;
  }
  section.bookingSection.middleSection div.row.dealsEquipmentCols > .col:first-child{
    width:calc(100% - 330px);
  }
  section.bookingSection.middleSection .row.dealsEquipmentCols > .col:last-child{
    width:330px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1090px){
  div.fixedReserveRow div.absHorizCenter{
    max-width: 730px!important;
}
  .fixedReserveRow .reservationBarWrapper .step.finalStep,.fixedReserveRow .reservationBarWrapper .step.stepHours{
    width: 74px;
}
  .fixedReserveRow .reservationBarWrapper .step.finalStep .btn{
    
  }
   .fixedReserveRow .reservationBarWrapper.reservationBarTandemIncluded .stepDate.step,.fixedReserveRow .reservationBarWrapper.reservationBarTandemIncluded .stepHours.step{
    width: calc(.5 * (100% - 288px));
}
  .fixedReserveRow .reservationBarWrapper .step.finalStep .btn:after{
    content:'Book';
  }
  .fixedReserveRow .reservationBarWrapper .step.finalStep .btn p{
    display:none;
  }
  .col.left_float.textualInfo > .row h3.val{
    height:initial;
    padding-bottom:7px;
  }
  .row.row_of_3 .questionUI h4.futura.futura_m{
    font-size: 20px;
  }
  .row.row_of_3.featuredLinks > .col > h4.valB.medium{
    font-size:20px;
  }
  .row.row_of_3.featuredLinks > .col .media{
    height: 240px;
  }
  .row.row_of_3 .questionUI{
    padding: 18px 18px 24px;
  }
  .row.row_of_3 .questionUI p.futura.navy{
    font-size: 14px;
    line-height: 1.5;
  }
  .topSection .heroContainer .heroText{
    left: 36px;
    right: 36px;
  }
  div.mainHeader .row.middleRow .logoBlock.left_float{
    left: 36px;
  }
}

@media only screen and (max-width:1040px){
  body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepHours.step {
    width: 100%!important;
    border-radius: 5px;
    padding-right: 4px;
    max-width: 700px;
}
body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepHours.step .timepickerInputWrapper {
    border-radius: 4px;
}
body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepDate.step .datepickerInputWrapper {
    border-radius: 4px!important;
    margin-left: 0!important;
}
body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepDate.step {
    margin: 0!important;
    margin-top: 34px!important;
    border-radius: 5px;
    padding: 4px;
     max-width: 700px;
}
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child, section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer{
    width: calc(100% - 480px)!important;
  }
  section.middleSection.toursGrid.toursGridSimplified > div.col .tourMediaSlider_container{width: 480px!important;}
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child h2.big{
    font-size: 30px;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col{
    padding-bottom: 56px;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer > .btn{
    font-size: 14px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border-width: 2px!important;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child p.val, section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child p{
    font-size: 14px;
    line-height:1.25;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child p.val{
    padding-bottom: 12px;
  }
  div.fixedReserveRow div.absHorizCenter{
    max-width: 680px!important;
  }
}

@media only screen and (max-width:1010px){
  .equipmentSelectionBox .tabController > a.tab > p{
    font-size: 16px;
}
  .equipmentSelectionBox .tabController > a.tab{
    padding-left: 14px;
    padding-right: 14px;
  }
  .attractionPageWrapper.pageWrapper section.topSection .heroContainer{
    height: 367px;
}
  .topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h1.valB{
    font-size: 36px;
    max-width: 540px;
  }
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li a{
    padding: 22px 16px 19px;
  }
  .col.bestViewsCol .bottomText p.val{
    font-size: 13px;
}
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab {
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (max-width: 980px){
  .descriptionText > p{
    font-size: 16.5px;
}
  .descriptionText > ul{
    font-size: 17px;
}
  body.packages.reservepackage .heroText.row > .col h3.valB.valUpper,body.tours.reservetour .heroText.row > .col h3.valB.valUpper{
    font-size: 16px;
  }
  body.packages.reservepackage .heroText.row > .col h1.biggest.valB,body.tours.reservetour .heroText.row > .col h1.biggest.valB{
    font-size:36px;
  }
  .pageWrapper.faqPageWrapper.cmsPageWrapper .row_of_3 .col{
    width:50%;
    display:block;
    float:none;
  }
  section.homepageTours > h3{
    padding-left: 28px;
  }
  .topSection .heroContainer .heroText{
    left: 0;
    right: 0;
  }
  .row.row_of_3 .questionUI p.futura.navy{

  }
  .reservationBarWrapper .step select, .reservationBarWrapper .datepickerInputWrapper input.triggerDatepicker{
    font-size: 15px;
  }
  .topSection .heroContainer .heroText > div.reservationBarWrapper{
    max-width: calc(100vw - 72px);
  }
  .reservationBarWrapper a.btn.primaryBtn.reserveBtn > p{
    font-size:16px;
  }
  body.tours .heroContainer section.bookingSection.middleSection .reservationBarWrapper .step.finalStep a.btn.primaryBtn.reserveBtn{
    border-radius: 0 4px 4px 0;
    margin-right: -1px;
    margin-top: 0;
    height: 100%;
  }
  .reservationBarWrapper a.btn.primaryBtn.reserveBtn{
    padding: 17px 12px;
    margin-right: 1px;
    border-radius: 0 0 4px 0;
    margin-top: -1px;
    height: calc(100% + 2px);
  }
  .reservationBarWrapper a.btn.primaryBtn.reserveBtn > p{
    font-size: 17.5px;
  }
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li a{
    font-size: 10.5px;
    padding: 24px 12px 19px;
  }
  div.mainHeader .row.middleRow ul.header_link_list > li div:first-child a:after{
    height: 11px;
    margin-top: -1px;
  }
  .tiling.row.squareContents > .row{

  }
}

@media only screen and (max-width:920px){
  div.packagePricing > div h6.gray.uppercase.valB{
    width: 87px;
    text-align: right;
  }
  div.packageTours > .descriptionText > div > div{
    width: 100%!important;
  }
  div.packageTours > .descriptionText > div > .media{
    border-radius: 6px 6px 0 0;
}
  .packagePricing > div .row.rowCentered{
    margin-right:0;
  }
  section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar{
    max-width: 90vw;
  }
  div.reviewItem{
    width: 65%;
    min-width: 400px;
  }
  .pageWrapper.aboutPageWrapper.cmsPageWrapper > h1.valB.big{}
  div.confirmationContinueBar{
      max-width: calc(100vw - 48px);
  }


  h1.valB{
    font-size: 46px;
  }
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab{
    padding-left: 50px;
    padding-right: 50px;
  }
  .topSection .heroContainer .heroText h3.valB.valUpper{
    font-size: 18px;
  }
  div.col.bikeRentals > icon{
    width: 24px;
    height: 24px;
}
  .col.waterTours icon{
    width: 28px;
    height: 26px;
}
  .gonyUniverse > .col h6.valB{
    font-size: 12px;
}
  div.col.busTours icon{
    width: 27px;
    height: 25px;
}
  div.gonyUniverse > .col icon{
}
  div.gonyUniverse > div.col > a{
    padding-left:18px;
    padding-right:18px;
  }
  div.col.discountOption{
    /* width: 72px; */
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row > div.col:first-child{
    width:100%;
    display:block;
    float:none;
  }
  .equipmentFreeSection.row > .text.col{
    width:100%;
    display:block;
    padding-bottom:24px;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row,section.deals.confirmationDealsRow.row .equipmentFreeSection.row.col{
    height:350px;
  }
  .show860.responsiveCheckoutSummary{
    opacity:1;
    visibility:visible;
    display:block;
    pointer-events:all;
  }
  .col.checkoutSummaryCol{
    max-width:560px;
    margin:0 auto!important;
  } 
  .col.checkoutSummaryCol{
    border: 2px solid rgba(12, 23, 29, 0.05);
    border-radius: 9px;   
  }
  .col.checkoutFormCol,.col.checkoutSummaryCol{
    width:100%;
    float:none;
    display:block;

    height: initial!important;
    margin-bottom: 48px!important;
  }
  .row.row_of_3.featuredLinks > .col a.invBtn.btn.arrowBtn{
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
}
  .row.row_of_3.featuredLinks > .col a.invBtn.btn.arrowBtn.storeVisit:after{
    left: 5px;
    right: 20px;
}
  .row.row_of_3.featuredLinks > .col a.invBtn.btn.arrowBtn.learnMore:after{
    left: 5px;
    right: 20px;
}
  .row.row_of_3.featuredLinks > .col{
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.row_of_3.featuredLinks > .col > p.valB{
    font-size: 12.5px;
  }
}

@media only screen and (max-width: 890px){
  .tabbedView.homepageTourInfo .tab_contents h6.medium.val{
    font-size:14px;
  }
      section.lastSection > .primaryContentWidth.row.row_of_3 .col{
    width:100%;
  }
    section.lastSection > .primaryContentWidth.row.row_of_3 .col.tripGuides {
        margin-top: 100px;
    }
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li:last-child a{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    vertical-align: bottom;
    display: inline-block;
  }
  body.tours.tour div.pageWrapper section.topSection .heroContainer .tourOptionsSlider button,.tourOptionsSlider .slide .tourAdjacentName{
    top: 80px!important;
    -webkit-transform: none;
    transform: none;
  }
  div.tourOptionsSlider .slide .tourAdjacentName{
    margin-top: -17px;
}
  body.tours.tour .pageWrapper section.topSection .heroContainer{
    height: 440px;
  }
  section.middleSection.toursGrid.toursGridSimplified{
    padding-left:20px;
    padding-right:20px;
  }
  .toursOverviewText{
    width: 100%;
    display: block!important;
    float: left;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col:nth-child(odd){
    margin-right:20px!important;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer > .btn{
    width: 50%;
    margin: 0;
    float: left;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer > .btn.primaryBtn{
    border-radius: 0 0 0 6px;
}
  section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer > .btn:last-child{
    border-radius: 0 0 6px 0;
    border-color: #0070BB;
}
section.middleSection.toursGrid.toursGridSimplified > div.col > a:first-child{
  padding-left:12px;
  padding-right:12px;
}
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child, section.middleSection.toursGrid.toursGridSimplified > .col .btn_footer{
    float: none!important;
    width: 100%!important;
    position: relative!important;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -2px;
    padding-bottom: 0;
}
.toursGrid .col:nth-child(even) .tourMediaSlider_container .comparativePricingFormat.row.imageOverlay{
  margin-left:-5px;
}
  .tourMediaSlider_container .comparativePricingFormat.row.imageOverlay{
    left: 50%!important;
    right: initial!important;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    margin-left: 5px;
    top: 50%;
    margin-top: -7px;
  }
  section.middleSection.toursGrid.toursGridSimplified > div.col .tourMediaSlider_container{
    position: relative!important;
    height: 240px!important;
    left: 0!important;
    right: 0!important;
    width: 100%!important;
    border-radius: 0;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col{
    width: calc(50% - 10px);
    float: left;
    display: inline-block;
    padding-bottom: 12px;
    margin-bottom: 19px;
  }
        .home_columns .column_reviews,
    .home_columns .column_packages {
        width: 100% !important;
        float: none !important;
        margin: 0 auto 20px !important;
        padding-top: 0;
    }
    .column_reviews .choose_us_left {
       width: 100%;
        float: none; 
        padding: 10px 0;
        margin-top: 25px;
    }
    .column_reviews .choose_us_left p {
        width: 95%;
    }
    .column_reviews .why_choose_us {
        width: 100%;
        float: none;
    }
    .column_reviews .why_choose_us ul div.half {
        width: 100%;
        float: none;
    }
    .column_reviews .why_choose_us ul li {
        width: 100%;
        text-align:center;
    } 
    .video-container {
        height: 450px;
    }
}

@media only screen and (max-width: 860px){
    .checkoutContentWidth.row_of_2.row.reservationDetailsContent #peopleCount {
        position: relative;
        margin-bottom: 40px;
    }

  div.resBar_error{
    width:100%!important;
    left:initial!important;
    right:0!important;
  }
  div#slideDownToBook{
    display:none!important
  }
  .pageWrapper.toursIndexPageWrapper section.topSection .heroContainer{
    height: 424px;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col > a:first-child h2.big{
    font-size: 22px;
}
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row:nth-child(even){
    margin-right:0
  }
  .pageWrapper.packagesPageWrapper .packageGridItem .media.col,.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row > a{
    width: 100%;
    height: 220px;
}
  a.btn.fullBtn.primaryBtn p{
    font-size: 20px!important;
    width: 100%;
}
  .pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a{
    border-radius: 5px;
    height: 60px;
    height: 48px;
  }
.pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col{
    position: relative;
    top: initial;
    width: 100%;
    right: initial;
    height: 70px;
    margin-top: 5px;
}
  .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col h2.price{
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#fff;
  }
  .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col .circle p.gray.uppercase.valB {
    color:#fff;
  }
  .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col{
    position: absolute;
    left: -10px;
    right: inherit;
    height: 82px;
    width: 160px;
    background: transparent;
    top: 9px;
    border-radius: 6px;
}
  .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col .walkin{
    display:none;
  }
.pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col h6.gray.uppercase.valB{
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
    padding-top: 18px;
    text-shadow: 0 0px 19px rgba(0, 0, 0, 0.75);
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col{
    width: 100%;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray{
    font-size:12px;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h2.val{
    font-size:20px;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row{
    width:50%;
    margin-left: 0;
    margin-right: 24px;
    display: inline-block;
    float: left;
  }
  .tiling.row.squareContents > .row .absTransCenter p{
    font-size: 14px;
  }
    .tiling.row.squareContents > .row .absTransCenterRevised p{
    font-size: 14px;
  }
  .tiling.row.squareContents > .row .absTransCenter h4{
    font-size: 16.5px;
    margin-bottom: 4px;
  }
    .tiling.row.squareContents > .row .absTransCenterRevised h4{
    font-size: 16.5px;
    margin-bottom: 4px;
  }
  div.pageWrapper.cmsPageWrapper h1.valB.big{
    font-size: 36px;
    padding-bottom: 50px;
  }
  section.contentWidthGutter.contentWidth.content.cmsPagesContentWidth {
    width: 85%;
    margin: 0 auto;
  }
  .pageWrapper.cmsPageWrapper.locationsPageWrapper > h3.medium.val{
    font-size:18px;
    padding-left:24px;
    padding-right:24px;
  }
  .pageWrapper.cmsPageWrapper.locationsPageWrapper >  .contactNumberWrapper span{
    display:block;
    margin-top:4px;
  }
  .pageWrapper.cmsPageWrapper.locationsPageWrapper > h3.medium.val br{
    display:none;
  }
  .checkoutContentWidth.row_of_2.row.reservationDetailsContent > .row.row_of_2.reservationItemDetails > .col{
    width: 100%!important;
    display:block;
    float:none;
  }
.checkoutContentWidth.row_of_2.row.reservationDetailsContent > .row.row_of_2.reservationItemDetails > .col:last-child{
  margin-top:24px;
}
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row h1.valB{
    font-size: 36px;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row h5.val.gray{
    font-size: 16px;
    max-width: 400px;
    margin-bottom: 14px;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row h5.val.gray br{
    display:none;
  }
  .pageWrapper.confirmationPageWrapper section.topSection.finalConfirmSection .confirmationContinueBar{
    background:transparent;
  }
  .pageWrapper.confirmationPageWrapper section.topSection.finalConfirmSection .confirmationContinueBar input{
    background:#FFFFFF;
  }
  div.confirmationContinueBar{
    height:initial;
    max-width: 480px;
    border: 0;
    margin-top: 48px;
    box-shadow: none;
    width: calc(100vw - 56px);
  }
  div.confirmationContinueBar > .step > input{
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    border-radius: 4px!important;
    width: 100%!important;
}
  div.confirmationContinueBar > .step{
    width: 100%!important;
    height: initial;
    display:block;
    float:none;
    border-right: 0!important;
    margin-bottom: 42px;
  }
  div.confirmationContinueBar > .step:nth-last-child(2){
    margin-bottom: 20px;
}
  .confirmationContinueBar > .step.continueStep > a{
    border-radius:4px;
  }
  div.mainFooterWrapper{
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 24px;
    padding-bottom: 24px;
}
  div.mainFooterWrapper > div.footerSiteIndexSection{}
  div.footerSiteIndexSection > .right_float{}
  div.fixedReserveRow div.absHorizCenter{
    width: initial;
    position: relative;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    left: initial;
    float: left;
  }

  .pageWrapper section.topSection .slick-track .slide .blurBar{
    height:46px;
  }
  .heroSlideshow.heroSlideshowBikeTours .slide .blurBar{
    display:none!important;
  }
  body.rentals .pageWrapper .promoBar{
    display:none!important;
  }
  body.packages.index .pageWrapper .promoBar,body.packages.index .pageWrapper .blurBar{
    display: none!important;
  }
  .pageWrapper .promoBar{
    height:initial;
    line-height:1.3;
    padding-bottom: 12px;
    border-top: 0;
    padding-top: 17px;
    text-align: left;
  }
  .attractionPageWrapper.pageWrapper .promoBar{
    display:none!important;
  }
  .pageWrapper.reservePackagePageWrapper .promoBar > p.valB{
    display:none!important;
  }
  .pageWrapper.reservePackagePageWrapper section.topSection .heroContainer.shortHeroContainer,.pageWrapper.reservePackagePageWrapper section.topSection .heroContainer.shortHeroContainer > .heroSlideshow{
    height: 196px;
    margin-bottom: -64px;
}
  .pageWrapper section.topSection .heroContainer.shortHeroContainer{
    height: initial;
  }
  a.promoBarLeftBtn{
    opacity: 1;
    height: 44px;
    padding-top: 15px;
    background: rgba(0, 112, 187, 0.75);
    font-size: 12.5px;
  }
  .pageWrapper.reservePackagePageWrapper .promoBar .right_float_hidden a.menuBtn.globalSideMenuTrigger{
    border-color:transparent;
  }
  .pageWrapper.reservePackagePageWrapper .promoBar{
    height: 40px;
    background: transparent;
  }
  .pageWrapper .promoBar > p.valB{
    font-size: 12px;
    text-align: Center;
    text-align: center!important;
}
  div.fixedReserveRow .absHorizCenter > h7.valB{z-index: 5;position: relative;}
  div.show860.fixedReserveTriggerWrapper{
    display: block;
    visibility: visible;
    pointer-events: all;
    right: 50%;
    opacity: 1;
    z-index: 4;
    transform: translateX(50%);
    top: 12px;
  }
  .fixedReserveRow .reservationBarWrapper .container{
    width: calc(100% - 36px);
    margin: 0 auto;
    height: initial!important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
  .pageWrapper.cmsPageWrapper.aboutPageWrapper .fixedReserveRow{
    display:none!important;
  }
  .fixedReserveRow .reservationBarWrapper{
    display:none;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 112px;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    background: rgba(34, 45, 104, 0.5)!important
  }
  .topSection .heroContainer .heroText > div.reservationBarWrapper{
    max-width: 540px;
    width: calc(100vw - 72px);
  }
  body.tours.tour .heroContainer section.bookingSection .reservationBarWrapper.tourDetailReservationBar .step.finalStep{
    margin-top: 1px;
    height: 48px;
}
  body.tours.tour .heroContainer section.bookingSection .reservationBarWrapper.tourDetailReservationBar .step.finalStep > a{
    border-radius: 0 0 4px 0!important;
    width: 100%;
    padding-top: 16px!important;
  }
  body.tours.tour .heroContainer section.bookingSection .reservationBarWrapper.tourDetailReservationBar .step.countStep,body.tours.tour .heroContainer section.bookingSection .reservationBarWrapper.tourDetailReservationBar .step.finalStep{
    width: 280px!important;
  }
  .tourDetailReservationBar .timepickerInputWrapper .selectedTourImage.media{
    border-radius:5px 0 0 0;
  }
  body.tours.tour .heroContainer div.reservationBarWrapper .step.stepDate input{
    font-size:16px;
  }
  body.tours.tour .heroContainer div.reservationBarWrapper .step.stepHours,body.tours.tour .heroContainer div.reservationBarWrapper .step.stepDate{
    width: calc(100% - 280px)!important;
  }

   div.reservationBarWrapper .step.stepHours{
    width: calc(100% - 279px)!important;
   }
   body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepHours.step{
     width:100%!important;
     border-radius: 5px;
     padding-right: 4px;
   }
   body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepDate.step{
     margin: 0!important;
     margin-top: 34px!important;
     border-radius: 5px;
     padding: 4px;
   }
   body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepDate.step .datepickerInputWrapper{
     border-radius: 4px!important;
     margin-left: 0!important;
   }
   body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar .stepHours.step .timepickerInputWrapper{
     border-radius: 4px;
   }
   div.reservationBarWrapper .container form > .step:nth-child(1),div.reservationBarWrapper .container form > .step:nth-child(2){
    border-bottom: 1px solid #ededed;
   }
   .reservationBarWrapper .step.stepDate{
    width: calc(100% - 240px)!important;
   }
   .reservationBarWrapper .step.finalStep{
    width: 240px;
    margin-top: 0;
}
  div.reservationBarWrapper .step.finalStep > a.btn.primaryBtn.reserveBtn{
    padding: 18px 12px;
}
   div.reservationBarWrapper .container form > .step:nth-child(2){
    border-right:0;
   }
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab > li a{
    font-size: 10.5px;
    padding: 24px 11px 20px;
  }
  div.mainHeader .row.middleRow ul.header_link_list > li div:first-child a:after{
    height: 14px;
    margin-top: -3px;
}
  div.mainHeader .row.middleRow .logoBlock.left_float{
    width: 92px;
    height: 92px;
  }
  .fixedReserveRow .logoCall a.homeLink{
    width: 92px;
  }
  .fixedReserveRow .left_float{
    margin-left:18px;
  }
    section.bookingSection.middleSection div.row.dealsEquipmentCols > .col:first-child{
    width:100%;
    margin-bottom:4px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  body.rentals section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar{
    margin-top: 10px!important;
    padding-bottom: 6px!important;
    max-width: 600px;
    padding-right: 0!important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0!important;
  }
    .pageWrapper.sliderLoad .reservationBarWrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:790px){
  .col.hidden.responsiveRentalDiscounts {
      display: block;
      visibility: visible;
  }
  .rentalsOverviewText{
    padding-top: 50px;
    margin-top: 40px;
  }
  .col.hidden.responsiveRentalDiscounts .pricingBox{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

}

@media only screen and (max-width: 970px){
    .attraction_listing_textContent > .row > a.row h4.val.gray.col {
    position: relative;
    transform:none;
    height: 65px;
  }
  .listing-item {
    min-height: 510px;
  }
  .attraction_listing_textContent h6.valB {
    margin-bottom: 0;
    height: auto;
  }
  .blogDescriptionWrapper{
    font-size:18px;
  }
  .equipmentCustomizationReservationInfo .equipmentSelectionBox .btn.primaryBtn.equipmentCustomizationActionBtn {
    width: calc(100% + 50px);
    margin-left: -25px;
  }
  .equipmentCustomizationReservationInfo .equipmentSelectionBox .btn.primaryBtn.equipmentCustomizationActionBtn .addEquipment .addText{
    font-size: 12.5px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 .datepickerInputWrapper .datepickerCellUI.whenSelectorParent,section.middleSection.selectTickets > form > .row.row_of_3 .datepickerInputWrapper .datepickerCellUIConfirm.whenSelectorParent{
    left: 7px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 .datepickerInputWrapper{
    height: 80px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 .datepickerInputWrapper .whenSelectorResult{
    padding-left: 22px;
    margin-top: -9px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3{
    z-index: 100;
  }
  body.packages.reservepackage .heroText.row .col.logoBlock .homeLink img, body.tours.reservetour .heroText.row .col.logoBlock .homeLink img {
    width: 85px;
    height: 85px;
  }
  body.packages.reservepackage .heroText.row .col:last-child, body.tours.reservetour .heroText.row .col:last-child {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
  body.packages.reservepackage .heroText.row > .col h1.biggest.valB, body.tours.reservetour .heroText.row > .col h1.biggest.valB{
    font-size: 28px;
  }
  .equipmentCustomizationSlider button{
    left:10px!important;
  }
  .equipmentCustomizationSlider button.slick-next{
    left:initial!important;
    right:10px!important;
  }
  .pageWrapper.aboutPageWrapper.cmsPageWrapper > p.valB{
    border-radius: 0;
    margin-bottom: -2px;
    font-weight: 500;
    padding-bottom: 19px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 14px;
  }
  .pageWrapper.aboutPageWrapper.cmsPageWrapper > h1.valB.big{
    font-size: 72px;
  }
  body.rentals section.bookingSection.middleSection .row.dealsEquipmentCols{
    width:100%;
    border-radius:0!important;
  }
  body.rentals .tourDetailPageWrapper section.bookingSection.middleSection > h5.valB{
    font-size:20px; 
    padding-bottom:4px;
    text-align:center;

  }
  div.col.rentalBookingFieldsCol{
    float: none;
    display: block;
  }
  .equipmentSelectionBox.tabbedView{
     overflow: hidden;
     -webkit-overflow-scrolling: touch;
     padding-left: 0;
     padding-right: 0;
     border-radius: 0!important;
     border-left: 0;
     border-right: 0;
  }
  .equipmentSelectionBox.tabbedView.nestedEquipmentCustomizationBox{
    border-radius: 5px!important;
    border-left: 1px solid #e5e5e5;
    width: calc(100% - 24px);
    border-right: 1px solid #e5e5e5;
  }

  .equipmentSelectionBox.tabbedView.nestedEquipmentCustomizationBox .equipmentCustomizationSlider button{
    left: 0!important;
    width: 32px;
    height: 48px;
  }
  .equipmentSelectionBox.tabbedView.nestedEquipmentCustomizationBox .equipmentCustomizationSlider button:after{
    width: 8px;
    height: 16px;
  }
  .equipmentSelectionBox.tabbedView.nestedEquipmentCustomizationBox .equipmentCustomizationSlider button.slick-next{
    right: 0!important;
    left: initial!important;
}
  
  .equipmentSelectionBox .tabController{
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
  }
  .tabbedView.homepageTourInfo .tab_contents h6.medium.val{
    font-size: 14.5px;
    line-height:1.65;
    padding-right: 0;
  }
  section.homepageTours .row.row_of_2.toursGrid .col.tourGridItem > a >.media h2.big{
    font-size:28px;
    max-width: 90%;
  }
  section.homepageTours .row.row_of_2.toursGrid .col.tourGridItem > a >.media{
    height: 200px;
  }
  section.homepageTours .row.row_of_2.toursGrid .col.tourGridItem{
    width: calc(100% - 8px);
    margin-left: auto!important;
    margin-right: auto!important;
    float:none!important;
    display:block;
    margin-bottom:12px;
    overflow:hidden;
    border-radius:8px;
    position:relative;
    z-index:1;
  }
  .descriptionText > p{font-size: 13px;padding-left: 12px;padding-right: 12px;}
  .descriptionText > ul{
    font-size: 13.5px;
  }
  section > .row.attractionInfo > .col.left_float.textualInfo{
    padding-right:56px;
  }
section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity {
    width: calc(50% - 1px);
    border-right: 0;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity:first-child{
  
}
section.middleSection.selectTickets{
  padding-bottom:120px;
  border-bottom:10px solid #e5e5e5;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity:nth-child(2){border-right: 1px solid #e5e5e5;}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal{
    position: relative;
    width: 100%;
    height: initial;
    border-top: 1px solid #e5e5e5;
    padding-top: 24px;
}
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal h1.val{
    font-size: 62px;
    padding-top: 6px;
    padding-bottom: 14px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal .absTransCenter{
    position:relative;
    top: initial;
    left: initial;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  div#paginator.datepaginator{
    margin-top: 7px;
  }
  .datePaginatorButtonsRow.row .right_float a.btn.secondary_btn{
    margin-left: 8px;
}
  .datePaginatorButtonsRow.row .left_float a.btn.secondary_btn{
    margin-right: 8px;
}
  .datePaginatorButtonsRow.row a.btn.secondary_btn{
    width:33px;
    height:33px;
    border-color: transparent;
    padding-top: 10px;
    border-radius: 4px;
    background: #0070BB;
    color: #FFFFFF;
  }
  .datePaginatorButtonsRow.row a.btn.secondary_btn.disabled{
    background: #eaeaea;
    border-color: transparent;
    color: #FFFFFF;
    opacity: .6;
  }
  .datePaginatorButtonsRow.row a.btn.secondary_btn p{
    visibility:hidden;
  }
  .datePaginatorButtonsRow.row a.btn.secondary_btn p:first-letter{
    visibility:visible;
  }
  .datePaginatorButtonsRow.row a.btn.secondary_btn p:nth-letter(2){
    visibility:visible;
  }
  .row.row_of_3.featuredLinks > .col .media{
    height: 161px;
    width: calc(100% - 20px);
  }
  .row.row_of_3.featuredLinks > .col > h4.valB.medium{
    font-size: 16.5px;
  }
  .tiling.row.squareContents > .row > .col{
    width:100%!important;
    float:none;
    display:block;
  }
  .tiling.row.squareContents > .row, div.tiling.row.squareContents.blogTiling > .row.row_of_2{
    height:initial!important;
    max-height: initial;
    min-height: initial;
  }
  .tiling.row.squareContents > .row .absTransCenter{
    position: relative;
    left:initial;
    top:initial;
    -webkit-transform:none;
    padding-top:24px;
    padding-bottom:24px;
    margin-left:auto;
    margin-right:auto;
    max-width:480px;
    padding-left: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 12px;
    transform:none;
  }
  .tiling.row.squareContents > .row > .col:first-child{
    height:auto;
    float: none!important;
  }
  .col.checkoutFormCol > .contentWidth{
    width: calc(100% - 48px);
}
  h4.valR{
    font-size: 16px;
  }
  .toursOverviewText > .valR,.rentalsOverviewText > .valR{
    font-size:16px;
    padding-left:12px;
    padding-right:12px
  }
  .toursOverviewText > h5.valB,.rentalsOverviewText > h5.valB{
    font-size: 13.5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  div.mainFooterWrapper > div.footerSiteIndexSection > .left_float{
    width: 100%;
    text-align: center;
    float: none;
}
  div.mainFooterWrapper > div.footerSiteIndexSection{background: transparent;box-shadow: none;padding-left: 0;padding-right: 0;}
  div.footerSiteIndexSection > .right_float{
    float: none;
    margin-top: 15px;
    text-align: center;
    display: block;
    padding-top: 24px;
    margin-left: auto;
    vertical-align: top;
    margin-right: auto;
} 
  div.footerSiteIndexSection > .right_float div.newsletterInput h6{
    margin-top: 0;
}
  .mainFooterWrapper .right_float .socialRow.row,.footerSiteIndexSection > .right_float > div:last-child{
    text-align: center;
}
  div.inputBtnRow input.newsletterInput{
    background: #FFFFFF;
    border-radius: 4px;
  }
  div.mainHeader .row.middleRow .right_float{
    right: 154px;
}
  div.mainHeader .row.middleRow ul.header_link_list.left_float.as_r.tab{
    display:none;
  }
  .row.middleRow div.right_float_hidden.hidden.show770{
    display: block!important;
    visibility: visible;
    pointer-events: all;
}
  .row.row_of_2 > .col.bestViewsCol, .row.row_of_2 > .col.topEquipmentCol{
    width:100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width: 690px){
  .packageAttractions .descriptionText > div{
    width:100%;
    margin-bottom: 8px;
  }
  .fixedReserveRow.fixedReserveRow_AttractionsIndex .logoCall a.homeLink{
    width: 100px;
    padding: 0;
    border: 0;
    margin-top: 18px;
  }
  .fixedReserveRow.fixedReserveRow_AttractionsIndex .logoCall a.homeLink img{
    padding: 0;
  }
  .attraction_listing_textContent h6.valB{
    font-size:13.5px;
  }
  .tourOptionsSlider .slide .tourAdjacentName p{
    display:none!important;
  }
  div.tourOptionsSlider div.slide .tourAdjacentName{
    padding-right: 18px!important;
    padding-left: 32px!important;
    border-radius: 6px;
    padding-bottom: 27px!important;
  }
  body.tours.tour section.bookingSection.middleSection .reservationBarWrapper  .step.countStep .adultsCount,body.tours.tour section.bookingSection.middleSection .reservationBarWrapper  .step.countStep .kidsCount{
    margin-top:6px;
  }
  body.tours.tour div.step.countStep > .adultsCount:after{
    margin-top: -16px;
    height: 48px;
  }
  .homePageWrapper.pageWrapper section.topSection .heroContainer .heroSlideshow button{
    display:none!important;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row .col.discountOption{
    float: none;
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .btn.primaryBtn.equipmentCustomizationActionBtn a.addEquipment{width: calc(100% - 140px);font-size: 14px;font-weight: 600;}
  .btn.primaryBtn.equipmentCustomizationActionBtn .numericalToggler{
    width: 140px;
  }
  .btn.primaryBtn.equipmentCustomizationActionBtn .numericalToggler .numberCountValWrapper{
    width: 78PX;
    margin-left: 0px;
  }
  .kidsCount input.kidsCountVal, .adultsCount input.adultsCountVal, .tandemsCount input.tandemCountVal{
    width: 100%;
      margin-top:-5px !important;
      margin-left: 7px !important;
      margin-right: -2px !important;
      vertical-align: middle !important;
      display: inline-block !important;
      text-align: center !important;
  }
  .checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper span.separator{
    display: none;
  }
  .checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper .adultsCount, .checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper .kidsCount, .checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper .tandemsCount{
    padding-top:10px;
    width: 50%;
    margin-bottom: 0;
  }
  .checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper .kidsCount .inc{
    margin-left: 0;
  }
  div.checkoutContentWidth.row_of_2.row.reservationDetailsContent .labelInputWrapper .tandemsCount{
    margin-top: 21px;
    padding-left: 8px;
  }
  div.kidsCount div.kidsCountValWrapper, div.adultsCount div.adultsCountValWrapper, div.tandemsCount div.tandemsCountValWrapper{
    width:50px!important;
    margin-left: 0;
  }
/*
  div.kidsCount .button, div.adultsCount .button, div.tandemsCount .button{
    margin-right: 0;
      width: 22px;
      height:22px;
  }
*/
  .kidsCount .kidsCountValWrapper span.key, .adultsCount .adultsCountValWrapper span.key, .tandemsCount .tandemsCountValWrapper span.key{
    position: absolute;
    bottom: 100%;
    left: 0;
    font-weight: 600;
    font-size: 12px;
    right: 0;
    display: block;
    opacity: .35;
    text-align: center;
  }
  .checkoutContentWidth.row_of_2.row.reservationDetailsContent > .row.row_of_2.reservationItemDetails{
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    max-width: calc(100vw - 30px)!important;
    padding-left: 12px;
    padding-right: 12px;
  }
  a.footerLink icon.locationIcon,a.footerLink icon.mailIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 6px;
    opacity: .5;
}
  section.midContainer.row.homepageTourInfo > .col:last-child > .col:last-child > h6.valB{
    padding-left:0;
    width: 100%;
    text-align: left;
    padding-right: 72px;
    margin-top: -16px;
    padding-left: 0;
    position: relative;
    top: 0px;
    vertical-align: top;
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 0;
  }
  div.responsiveMapResultsToggler{
    display:block;
  }
  .dealsEquipmentCols .textualInfo .tourName{
    height:initial!important;
    text-align: left;
    padding-bottom: 8px;
  }
  .tourDetailPageWrapper .bookingSection.middleSection .textual .equipmentFreeSection.row{
    padding-left:0!important;
  }
  body.tours.tour section.bookingSection.middleSection div.row.dealsEquipmentCols > .col{
    float:none;
    width: calc(100% - 40px);
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
  }
  body.tours .tourDetailPageWrapper.pageWrapper .promoBar,body.tours .tourDetailPageWrapper.pageWrapper .blurBar{
    display:none!important;
    visibility: hidden!important;
  }
  .sidebar .filters > .row.row_of_3{
    padding-left: 16px;
    padding-right: 16px;
  }
  .col.attractionsBrowseListings.sidebar > .header > h1{
    padding-top: 48px;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 3px;
  }
  div.sidebar .filters{
    position: relative;
    -webkit-transform: translate(0px)!important;
    transform: translate(0px)!important;
    top: initial;
  }
  div.searchResults{
    margin-top:3px;
  }
  .sidebar .filters > .row.row_of_3 .col{
    width:100%;
    margin-bottom: 6px;
  }
  a.menuBtn.globalSideMenuTrigger{
    padding-right: 16px;
}
  a.menuBtn.globalSideMenuTrigger > span.text{
    display:none;
  }
/*  .col.attractionsBrowseListings.sidebar{
    width: calc(80% - 32px);
    left: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 100;
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.77,0,0.175,1),opacity .25s cubic-bezier(.645,.045,.355,1);
    transition: transform .25s cubic-bezier(0.77,0,0.175,1),opacity .25s cubic-bezier(.645,.045,.355,1);
    opacity: 0;
    border-right: 2px solid rgba(225, 225, 225, 0.65);
}
  .col.attractionsBrowseMap.map{
    width:100%;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.77,0,0.175,1);
    transition: transform .25s cubic-bezier(0.77,0,0.175,1);
    will-change: transform, opacity, -webkit-filter,filter;
  }*/
  .searchResults #listings > div.col{
    width:100%;
    float: none;
    display: block;
  }
  div.imagesCalls.availablePackagesWrapper_mobile div.availablePackagesWrapper .footer > a{
    display: block;
    margin-top: 16px;
}
  div.imagesCalls.availablePackagesWrapper_mobile,div.imagesCalls.availablePackagesWrapper_mobile div.availablePackagesWrapper{
    display:block!important;
    padding-top: 0;
    width: 100%;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .additionalAttractionsRow.row > div{
    display:block;
    float:none;
    width: 100%!important;
    margin-bottom: 24px;
  }
  .additionalAttractionsRow.row > div.right_float > a{
    text-align: right!important;
}
  div.availablePackagesWrapper{
      display:none;!important;
  }
  section > .row.attractionInfo > div.col.right_float.imagesCalls{
    width: 200px;
}
  section > .row.attractionInfo > .col.left_float.textualInfo{
    width: calc(100% - 200px);
}
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered h1.val{
    font-size:48px;
  }
  .row.row_of_3.featuredLinks > .col > h4.valB.medium br{
  }
  section.middleSection.selectTickets > form > .continueBar{
    margin-top: 0;
    width: 100;
}
  section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper input.primaryBtn.btn{
    width:100%;
  }
  section.middleSection.selectTickets > form > .continueBar .left_float .inputBtnRow{
    margin-right:23px;
  }
  section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper{
    margin-left:23px;
    margin-right:23px;
    margin-top: 24px;
  }
  section.middleSection.selectTickets > form > .continueBar > div{
    display:block;
    float:none;
    width:100%;
  }
  .questionsSeachWrapper > p{
    font-size: 14px;
    width: 247px;
  }
      .row.row_of_3.featuredLinks > .col{
    width:100%;
    display:block;
    float:none;
  }
  .questionsSeachWrapper.faqSearchActive p.placeholder, .questionsSeachWrapper > input:focus + p{
    left: calc(25% + 52px);
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row h5.val.gray br{
    display:block;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row{
    border-top:2px solid #ececec;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row > .col, section.deals.confirmationDealsRow.row .equipmentFreeSection.row.col > .col{
    float:none;
    margin-right: auto;
    margin-left: auto;
  }
  section.deals.confirmationDealsRow.row  .discountOfferSection.col.row, section.deals.confirmationDealsRow.row .equipmentFreeSection.row.col{
    width:100%;
    display:block;
    background: #f5f5f5;
    border-left: 0;
    text-align: center;
    height: initial;
    padding-left: 24px;
    padding-right: 24px;
  }
  section.deals.confirmationDealsRow.row{
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    background: #f5f5f5!important;
    border: 0;
    max-width: 432px;
    margin-top: 0;
    padding-top: 30px;
  }
  section.deals.confirmationDealsRow.row > div {
    background: #FFFFFF!important;
}
  div.thinGrayBar p.valB{
    font-size: 16px!important;
    padding: 17px 16px!important;
  }
  .topSection .heroContainer .heroText{}
  .gonyUniverse > .col h6.valB{
    display:none;
  }
  div.col.busTours icon{
    width: 46px;
    height: 25px;
  }
  div.col.bikeRentals > icon{
    width: 36px;
    height: 25px;
  }
  div.col.bikeRentals{
    padding-left: 24px;
    padding-right: 24px;
  }
  .col.waterTours icon{
    width: 48px;
  }
  section.locationImagesWrapper .row.row_of_2 .col{
    width:100%;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 600px){
  .pageWrapper section.topSection .heroContainer.shortHeroContainer .heroText {
    top:0;
    -webkit-transform:none;
    transform:none;
    width: 100% !important;
    margin: 20px auto 0;
  }
  .btnsStackedWrapper > a.invBtn.arrowBtn.btn > i{
    position:absolute;
    float:left;
    left: 50%;
    bottom: calc(100% - 8px);
    -webkit-transform: translateX(-50%) scaleX(1.3);
    transform: translateX(-50%) scaleX(1.3);
  }
  .btnsStackedWrapper > a.invBtn.arrowBtn.btn{
    font-size: 12.5px;
    margin-top: 15px;
  }
  .tourOptionsSlider .slide .heroText h1.biggest.valB{
    margin-left: 18px;
    margin-right: 18px;
    font-size: 30px;
    padding-top: 14px;
  }
  .tourOptionsSlider .slide .heroText h1.biggest.valB span{
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.35;
  }
  .btnsStackedWrapper > a.invBtn.arrowBtn.btn:after{
    right: 20px;
    height: 2px;
  }
  section.homepageTours .row.row_of_2.toursGrid .col.tourGridItem > a >.media h2.big{
    font-size:24px;
  }
  .pageWrapper.toursIndexPageWrapper section.topSection .heroContainer .heroSlideshow{
    height: 237px;
  }
  .pageWrapper.toursIndexPageWrapper section.topSection .heroContainer .heroText{
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .toursIndexPageWrapper .topSection .heroContainer .heroText h3.valB.valUpper{
    font-size:14px;
  }
  .toursIndexPageWrapper .topSection .heroContainer .heroText h3.valB.valUpper br{
    display:none!important;
  }
  section.middleSection.toursGrid.toursGridSimplified{
    margin-top: -30px;
  }
  section > .row.attractionInfo{
    margin-top: 0;
    width: 100%;
  }
  div.col.right_float.imagesCalls > .verticalMedia{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 260px;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: cover;
}
  section > div.row.attractionInfo > .col.right_float.imagesCalls .attractionDetailMap{
    border-radius: 0;
    width: 100%;
    height: 230px!important;
}
  div.col.right_float.imagesCalls > .verticalMedia > img{
    border-radius:0;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 54%;
    width: initial;
    height: calc(100% - 35px);
    border-radius: 0px;
  }
  section > .row.attractionInfo > div.col.right_float.imagesCalls{
    width:100%;
    display: none;
  }
  section > .row.attractionInfo > div.col.right_float.imagesCalls:after{
    clear:both;
    content:'';
    display:table;
  }
  section > .row.attractionInfo > div.col.right_float.imagesCalls:before{
    clear:both;
    content:'';
  }
  section > .row.attractionInfo > .col.left_float.textualInfo{
    width:100%;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 40px;
    padding-bottom: 17px;
    margin-bottom: 19px;
    border-bottom: 12px solid rgba(12, 23, 29, 0.05);
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered h1.val{
    font-size:42px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal h1.val{
    font-size: 36px;
    text-align: center;
  }
  body.packages.reservepackage .heroText.row .col.logoBlock .homeLink img,body.tours.reservetour .heroText.row .col.logoBlock .homeLink img{
    width:65px;
    height:65px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal h6.valB{
    text-align:center;
    vertical-align: middle;
    font-size: 30px;
  }
  .col.logoBlock {
    display: none;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal{
    padding-top: 16px;
    padding-bottom: 0px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered > div{
    text-align: left;
    margin-left: 16px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered{
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .pageWrapper.homePageWrapper .topSection .heroContainer .heroText > div.reservationBarWrapper{
    max-width: 400px;
    width: calc(100vw - 56px);
}
  .pageWrapper.homePageWrapper .topSection .heroContainer .heroText > div.reservationBarWrapper:before{
      content:'';
      /* background-image: url(/content/frontend/assets/img/brandGradient.png); */
      /* position: absolute; */
      /* left: -28px; */
      /* top: -10px; */
      /* bottom: 0; */
      /* right: -28px; */
      /* z-index: -5; */
  }
  section.middleSection.selectTickets > form > div.row.row_of_3 > .col.quantity .centered .button{
    width: 36px;
    height: 36px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered span.key{
    font-size: 16.5px;
    display: none!important;
    margin-left: -3px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered  input{
    font-size: 16.5px;
    width: 100%;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .adultsCountValWrapper, section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .kidsCountValWrapper{
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered > h6.uppercase.valB{
    margin-bottom: 16px;
    text-align: left;
    margin-left: 16px;
  }
  body.packages.reservepackage .heroText.row .col:last-child,body.tours.reservetour .heroText.row .col:last-child{
    width: calc(100vw - 65px);
    margin-top: -56px;
    margin-left: 40px;
  }
  body.packages.reservepackage .heroText.row > .col h3.valB.valUpper > span.middot,body.tours.reservetour .heroText.row > .col h3.valB.valUpper > span.middot{
    display:block;
    background:transparent;
    height:0;
    margin-bottom: -3px;
  }
  body.packages.reservepackage .heroText.row > .col h1.biggest.valB,body.tours.reservetour .heroText.row > .col h1.biggest.valB{
    font-size: 24px;
    padding-left: 20px;
    line-height: 1.2;
}
  body.packages.reservepackage .heroText.row > .col h3.valB.valUpper,body.tours.reservetour .heroText.row > .col h3.valB.valUpper{
    font-size: 10.5px;
    line-height: 1.1;
    padding-right: 28px;
    padding-left: 20px;
  }
  .mainFooterWrapper > div.footerSiteIndexSection .left_float > .col:nth-child(3){
    padding-bottom: 0;
    margin-top: -7px;
    margin-bottom: -10px;
  }
  .mainFooterWrapper > div.footerSiteIndexSection .left_float > .col:nth-child(3) h6{
    display:none;
  }
  .mainFooterWrapper > div.footerSiteIndexSection .left_float > .col{
    width:100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 21px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity:nth-child(2){
  border-right: 0;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity{
    width:100%;
    border-bottom:1px solid #e5e5e5;
    border-right: 0;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity:nth-child(3){
    border-bottom: 0;
}
  .pageWrapper.confirmationPageWrapper section.topSection{
    padding-top: 92px;
    padding-bottom: 2px;
}
  .confirmationPageWrapper.pageWrapper .promoBar{
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
}
  .pageWrapper .promoBar{
    padding-left:110px;
    text-align:left!important;
  }
  .pageWrapper .promoBar > p{
    text-align:left!important;
  }
  section.midContainer.row.homepageTourInfo > .col:last-child > .col:first-child{
    width: 100%;
    margin-right: 0;
    margin-bottom: 48px;
    float: none;
    display: block;
  }
  section.midContainer.row.homepageTourInfo > .col:last-child > .col:last-child{
    width:100%;
    float: none;
  }
  div section.midContainer.row{
    padding-left: 36px;
    padding-top: 48px;
    padding-right: 36px;
  }
  .pageWrapper.homePageWrapper section.midContainer.row{
    margin-top: 154px;
    position: relative;
  }
  .homePageWrapper section.topSection{
    height:initial;
    z-index: 10;
  }
  h1.valB{
    font-size: 28px;}
    .topSection .heroContainer .heroText h3.valB.valUpper{
    font-size: 16px;
    padding-top: 8px;
    max-width: 360px;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
  div.heroSlideshow.heroSlideshowBikeTours div.slide div.heroText h3.valB{
    font-size: 14px;
    max-width: 300px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.35;
  }
  .pageWrapper section.topSection .heroContainer.shortHeroContainer .heroText{
    margin-left: auto!important;
    margin-right: auto;
  }
  .topSection .heroContainer .absTransCenter.heroTextFixed.heroText{
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    padding-top: 19px;
  }
    body.tours.tour .topSection .tourOptionsSlider.heroSlideshowBikeTours .heroContainer .heroText{

    }
    body.rentals.index .heroSlideshow.heroSlideshowBikeTours .slide .heroText{
      background: transparent;
    }
    .pageWrapper.homePageWrapper section.topSection .heroContainer .heroSlideshow{
    height: 260px;
}
    .pageWrapper.homePageWrapper .topSection .heroContainer .heroText{
      position: absolute;
      background: transparent;
      padding-top: 56px;
    }
  .topSection .heroContainer .heroText{
    position: relative;
    left: initial;
    top: initial;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    background-image: url(/content/frontend/assets/img/brandGradient.png);
    padding-bottom: 36px;
    padding-top: 64px;
    background-size: cover;
  }
  body.packages.reservepackage .heroText.row .col.logoBlock img,body.tours.reservetour .heroText.row .col.logoBlock img{
    margin-left: -15px;
    margin-top: -42px;
  }
  .pageWrapper section.topSection .shortHeroContainer.heroContainer .heroSlideshow{
    height: 306px;
}
  body.rentals .pageWrapper section.topSection .heroContainer .heroSlideshow,body.rentals .pageWrapper section.topSection .heroContainer{
    height: 240px;
  }
  .pageWrapper section.topSection .heroContainer .heroSlideshow{
    height: 57vw;
  }
  .questionsBox .row > .col{
    width:100%;
  }
    .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row{
    width:100%;
  }
  .toursOverviewText.tourDetailsOverviewDataWrapper > h5{
    max-width: calc(100vw - 96px);
    margin-left: auto;
    margin-right: auto;
    height: initial;
    padding-bottom: 8px;
}
  .toursOverviewText.toursOverviewMedia.tourDetailsOverviewDataWrapper > h5{
    text-align:center;
    line-height:1.25;
    font-size: 12.5px!important;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
  }
  .toursOverviewText.toursOverviewMedia.tourDetailsOverviewDataWrapper > h5 span{
    display:block;
    background:transparent;
    height: 2px;
    margin-bottom: 1px;
  }
    .halfContainer {
/*        display: none;*/
        position:relative;
        width: 100% !important;
    }
    .halfContainer#maps {
        pointer-events: none;
    }
    div#sticker-sticky-wrapper {
        float: none !important;
    }
    div#sticker {
        position: relative !important;
        margin-top: 0 !important;
    }
    .is-sticky .halfContainer#sticker {
        right: 0 !important;
        width: 100% !important;
    }
    .packageTours {
        float: none;
        width:100%;
    }
    .tour_header_pack > img {
        right: 5px !important;
    }
    .packagePricing > h3 {
        text-align: center;
    }
    section > .row.attractionInfo > .col.left_float.textualInfo .packagePricing{
        width: 100%;
    }
    section > .row.attractionInfo > .col.left_float.textualInfo form.row.reservePackageForm {
        width: 100%;
    }
    .packagePricing > div {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
    }
    div.packagePricing > div h6.gray.uppercase.valB {
        width: auto;
    }
    section > .row.attractionInfo > .col.left_float.textualInfo .col.quantity .centered {
        margin-left: 10px;
        margin-right: 10px;
    }
    section > .row.attractionInfo > .col.left_float.textualInfo .col.subtotal {
        margin-top: 20px;
        margin-left: 0;
        display: block;
    }
    .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col .absTransCenter {
        background-color: rgba(34, 45, 104, 0.25);
    }
    .pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col h6.gray.uppercase.valB {
        text-shadow: inherit;
    }
    .bookNowContain .bookNowHeaderTitle {
        display: none;
    }
    .bookNowForm {
        padding-top: 8px;
        text-align: left;
    }
    .kidsCount input.kidsCountVal, .adultsCount input.adultsCountVal, .tandemsCount input.tandemCountVal {
        margin-left: 2px !important;
        padding-top:4px;
    }
    .kidsCount .kidsCountValWrapper span.key, .adultsCount .adultsCountValWrapper span.key, .tandemsCount .tandemsCountValWrapper span.key {
        margin-bottom: 4px;
    }
    .bookNowContain {
        width: 97%;
    }
    .bookNowForm .quantity {
        margin-left: 0;
        margin-right: 0;
    }
    .bookNowForm .subtotal {
        margin-left: 15px;
        padding-top: 7px;
    }
    .bookNowForm .continueBar.row .resPackage .btn.primaryBtn {
        padding: 8px 4px;
    }
}

@media only screen and (max-width:550px){
  .blogDescriptionWrapper{
    font-size:14px;
  }
  .tabbedView.homepageTourInfo .tab_contents h6.medium.val{
    font-size:14px;
  }
  .toursOverviewText.toursOverviewMedia.tourDetailsOverviewDataWrapper{
    margin-left:0;
    padding-top: 0;
    margin-top: 18px;
  }
  div.pageWrapper.aboutPageWrapper.cmsPageWrapper > h1.valB.big{
    font-size: 60px;
  }
  div.pageWrapper.aboutPageWrapper.cmsPageWrapper > h1.valB.big.blogDetailsTitle{
    font-size: 38px!important;
  }
  body.tours div.heroContainer section.bookingSection.middleSection .reservationBarWrapper .step.finalStep a.btn.primaryBtn.reserveBtn{
    border-radius: 0 0 4px 4px!important;
  }
  body.tours div.heroContainer section.bookingSection.middleSection div.tourDetailReservationBar.reservationBarWrapper .step.finalStep {
    width: 100%!important;
  }
  body.tours.tour .heroContainer div.reservationBarWrapper div.step.stepHours, body.tours.tour .heroContainer div.reservationBarWrapper div.step.stepDate, body.tours.tour .pageWrapper div.heroContainer div.reservationBarWrapper.tourDetailReservationBar div.step.countStep{
    width:100%!important;
    border-right: 0;
  }
  body.tours.tour section.bookingSection.middleSection div.reservationBarWrapper.tourDetailReservationBar{
    max-width:420px!important;
    width: calc(100vw - 56px);
  }
  section.bookingSection.middleSection{
    padding-left:0;
    padding-right:0;
    padding-top: 30px;
  }
  .pageWrapper.homePageWrapper .topSection .heroContainer .heroText > div.reservationBarWrapper{}
  body.rentals.index section.bookingSection.middleSection{
    margin-top: 0;
  }
    .pageWrapper.sliderLoad .reservationBarWrapper {
        width: 98%;
        margin: 0 auto;
    }
        section.lastSection > .primaryContentWidth.row.row_of_3, section.lastSection > .primaryContentWidth.row.row_of_6 {
        margin-top: 0;
        padding-top: 0;
    }
        .kidsCount input.kidsCountVal, .adultsCount input.adultsCountVal, .tandemsCount input.tandemCountVal {
        font-size: 20px;
    }

}

@media only screen and (max-width:860px){
  div.attraction_listing_textContent h6.valB{
    font-size:12.5px;
    line-height: 1.4;
    margin-right: -14px;
  }
  section.middleSection.toursGrid.toursGridSimplified > .col{
    margin-left:auto!important;
    margin-right:auto!important;
    max-width: 100%!important;
    width: 100%!important;
  }
  .homepageTourInfo .equipmentBox{
    margin-left:0;
    margin-right:0;
    margin-top: 16px;
    height: 330px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal h1.val{
    font-size: 28px;
  }
  section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered h1.val{
    font-size: 20px;
    margin-top: 5px;
    position: absolute;
    right: 14px;
    top: 9px;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row{
    width:100%;
  }
  .pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row h4.val.grounded {
    position: relative;
    bottom: 0;
  }
  .questionsBox{
    width:calc(100vw - 48px);
  }
  div.show860.fixedReserveTriggerWrapper > a{
    font-size: 14.5px;
    padding: 12px 14px 10px;
    background: transparent!important;
    border: 2px solid #fff;
    color: #fff;
    font-size: 12.5px;
    margin-top: -1px;
    border-radius: 29px;
  }
  .fixedReserveRow .logoCall a.homeLink{
    width: 59px;
  }
  div.mainHeader .row.middleRow .logoBlock.left_float{
    left:14px;
    width: 80px;
    height: 80px;
  }
  .pageWrapper.homePageWrapper .topSection .heroContainer .heroText > div.reservationBarWrapper{
    max-width: 400px;
    width: calc(100vw - 56px);
}
  .topSection .heroContainer .heroText > div.reservationBarWrapper{
    max-width: 400px;
    width: calc(100vw - 75px);
  }
   div.reservationBarWrapper .step.stepHours{
    width: calc(100% - 279px);
   }
   div.reservationBarWrapper .container form > .step:nth-child(1),div.reservationBarWrapper .container form > .step:nth-child(2){
    border-right: 0!important;
    width: 100%!important;
   }
   .reservationBarWrapper .step.stepDate{
    width: 100%!important;
    border-right: 0!important;
   }
   .reservationBarWrapper .step.finalStep{
    width: 100%!important;
    margin-top: 0;
}
  div.reservationBarWrapper div.step.finalStep > a.btn.primaryBtn.reserveBtn{
    padding: 13px 12px;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
   div.reservationBarWrapper .container form > .step:nth-child(2){
    border-right:0;
   }  
    .pageWrapper.faqPageWrapper.cmsPageWrapper .row_of_3 .col{
    width:100%;
    display:block;
    float:none;
  }
  div.gonyUniverse div.col.bikeRentals{
    padding-left: 10px;
    padding-right: 10px;
  }
  div.gonyUniverse > div.col > a{
    padding-left: 10px;
    padding-right: 10px;
  }
  div.gonyUniverse .col.waterTours icon{
    width: 34px;
  }
  div.gonyUniverse .col.bikeRentals icon{
    width: 29px;
  } 
  div.gonyUniverse .col.busTours icon{
    width: 34px;
  }

  body.attractions.index .attractionsMapSearch.row {
    position: relative;
  }
  .col.attractionsBrowseListings.sidebar {
    width: 100%;
    position: relative;
    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
    top:0;
  }
  body.attractions.index .attractionsMapSearch.row {
    top:65px;
  }
  .col.attractionsBrowseMap.map {
    display: none;
  }
  .responsiveMapResultsToggler {
    display: none !important;
  }
    .mod-content {
        width: 99%;
    }
    section.locationImagesWrapper {
        margin-bottom: 0;
    }
    .mainDescriptionText {
        width: 100%;
    }
}

@media only screen and (max-width:480px){
  body.packages.reservepackage .heroText.row > .col h1.biggest.valB,body.tours.reservetour .heroText.row > .col h1.biggest.valB{
    font-size: 20px;
    margin-bottom: 0;
}
  div.thinGrayBar p.valB{
    font-size: 12px!important;
    padding: 19px 16px!important;
  }
}