/* =========================================================
 * bootstrap-datepaginator.css v1.1.0
 * =========================================================
 * Copyright 2013 Jonathan Miles 
 * Project URL : http://www.jondmiles.com/bootstrap-datepaginator
 *	
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */

.datepaginator {
	font-size: 12px;
	height: 60px;
}

.datepaginator-sm {
	font-size: 10px;
	height: 40px;
}

.datepaginator-lg {
	font-size: 14px;
	height: 80px;
}

/* Override bootstrap padding */
.pagination {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.dp-nav {
	height: 60px;
	padding: 22px 0px !important;
	width: 20px;
	margin: 0px !important;
	text-align: center;
}

.dp-nav-square-edges {
	border-radius: 0px !important;
}

.dp-item {
	height: 60px;
	padding: 13px 0px !important;
	width: 35px;
	margin: 0px !important;  				/* Override boostrap .pagination -1px, */
	border-left-style: hidden !important;	/* so we must hide left border instead */
	text-align: center;
}

.dp-item-sm {
	height: 40px !important;
	padding: 5px !important;
}

.dp-item-lg {
	height: 80px !important;
	padding: 22px 0px !important;
}

.dp-nav-sm {
	height: 40px !important;
	padding: 11px 0px !important;
}

.dp-nav-lg {
	height: 80px !important;
	padding: 33px 0px !important;
}

a.dp-nav-right { 
	border-left-style: hidden !important;
}

.dp-divider {
	border-left: 2px solid #ddd !important;
}

.dp-off {
	background-color: #F0F0F0 !important; 
}

.dp-no-select {
	color: #cccccc !important;
	background-color: #F0F0F0 !important
}

.dp-no-select:hover {
	background-color: #F0F0F0 !important
}

.dp-today {
	background-color: #88B5DB !important;
	color: #ffffff !important;	
}

.dp-selected {
	background-color: #428bca !important;
	color: #ffffff !important;
	width: 140px; 
}

#dp-calendar {
	padding: 3px 5px 0px 0px !important;
	margin-right: 3px;
	position: absolute;
	right: 0;
	top: 10;
}