.col.attractionsBrowseMap.map {
    position: fixed;
    right: 0;
    left: auto;
    bottom: 0;
    width: 52%;
    top: 0;
    height: 100vh;
}
div div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-left:before {
    -webkit-transform: scaleX(-1) translate(-50%,-50%);
    transform: scaleX(-1) translate(-50%,-50%);
    left: initial;
}
.datePaginatorButtonsRow.row {
    max-width: 1080px;
    margin: 48px auto 0px;
    font-size: 0;
    width: calc(100vw - 56px);
}

.datePaginatorButtonsRow.row .right_float.row.col {
    float: right;
}

.datePaginatorButtonsRow.row a.btn.secondary_btn {
    width: 114px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 1px;
    line-height: 1;
    padding-bottom: 11px;
    font-size: 12px;
}
.responsiveMapResultsToggler {
    position: fixed;
    top: calc(100vh - 76px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: none;
}

.responsiveMapResultsToggler .togglerWrapper {
    background: transparent;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 28px;
    background: transparent;
    padding: 0px;
}
.attractionsMapSearch.row.attractionsListingsActive .col.attractionsBrowseListings.sidebar {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}
.responsiveMapResultsToggler .togglerWrapper > a.active {
    color: #FFFFFF;
    background: rgba(34, 45, 104, 0.75);
    box-shadow: none;
}
.attractionsMapSearch.row.attractionsListingsActive .col.attractionsBrowseMap.map {
    opacity: .65;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(calc(80%  - 32px));
    transform: translateX(calc(80% - 32px));
    pointer-events: none;
}
.responsiveMapResultsToggler .togglerWrapper > a {
    background: #0070BB;
    padding: 16px;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    color: rgba(255, 255, 255, 0.65);
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.15) inset;
}

.responsiveMapResultsToggler .togglerWrapper > a:first-child {
    border-radius: 12px 0 0 12px;
    padding-left: 30px;
    padding-right: 24px;
    margin-right: 0px;
}
.datePaginatorButtonsRow.row .left_float a.btn.secondary_btn {
    margin-right: 15px;
}

.datePaginatorButtonsRow.row a.btn.secondary_btn.disabled {
    opacity: .2;
}

.datePaginatorButtonsRow.row .right_float a.btn.secondary_btn {
    margin-left: 15px;
}
.attractionPageWrapper .heroSlideshow.heroSlideshowBikeTours {
    position: relative;
    height: 100%!important;
}
.learnMoreLinkWrapper {
    border-top: 7px solid rgba(12, 23, 29, 0.05);
    padding-top: 22px;
}

.learnMoreLinkWrapper > p {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    padding-top: 14px;
    opacity: .6;
    padding-bottom: 14px;
}

.learnMoreLinkWrapper > a.invBtn.btn.arrowBtn.storeVisit {
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
    vertical-align: top;
}

.learnMoreLinkWrapper > a.invBtn.btn.arrowBtn.storeVisit:after {
    left: 0;
    right: 27px;
    bottom: 14px;
}

.learnMoreLinkWrapper > a.invBtn.btn.arrowBtn.storeVisit icon {
    width: 14px;
    height: 13px;
}
.responsiveMapResultsToggler .togglerWrapper > a.col:last-child {
    border-radius: 0 12px 12px 0;
    padding-left: 24px;
    padding-right: 26px;
    border-left: 0px solid #FFFFFF;
}
.additionalAttractionsRow.row .left_float a > .media {
    margin-left: 8px;
}

.additionalAttractionsRow.row .right_float.col .media {
    margin-right: 8px;
}
section > .row.attractionInfo > .col.right_float.imagesCalls .footer {
    margin-top: 20px;
}

section > .row.attractionInfo > .col.right_float.imagesCalls .footer a.btn.primaryBtn {
    display: block;
    padding-top: 12px;
    width: 100%;
    padding-bottom: 12px;
}

.additionalAttractionsRow.row a:hover .media {
    opacity: 1;
}
.additionalAttractionsRow.row a:before {content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;-webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);-moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);-o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);}

.additionalAttractionsRow.row a:hover:before {
    background: rgba(255, 255, 255, 0.16);
}

.availablePackagesWrapper {
    max-width: 270px;
    margin: 0 auto;
}

.availablePackagesWrapper .packageGridItem {
    border: 4px solid rgba(12, 23, 29, 0.05);
    padding-bottom: 0;
    padding-top: 18px;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 25px;
}

.availablePackagesWrapper .packageGridItem h2.val {
    font-size: 20px;
    padding-bottom: 10px;
}

.availablePackagesWrapper .packageGridItem h4.val.gray {
    font-size: 12.5px;
    opacity: .6;
    vertical-align: top;
}

.availablePackagesWrapper .packageGridItem h4.val.gray i.material-icons {
    font-size: 14px;
    margin-right: 2px;
    vertical-align: top;
}

.availablePackagesWrapper .packageGridItem h4.val.gray span.middot {
    display: block;
    margin-bottom: 4px;
}

.imagesCalls .availablePackagesWrapper .row_of_2 {
    background-color:#DC2005;
    padding-bottom: 12px;
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 5px 5px;
    margin-top: 12px;
}

.availablePackagesWrapper .packageGridItem .textualData {
    padding-left: 14px;
    padding-right: 14px;
}

.imagesCalls .availablePackagesWrapper .row_of_2 > .pricing.col {
    width: 100%;
    float: none;
    text-align: center;
    color: #FFFFFF;
    opacity: .8;
    padding-top: 14px;
}

.imagesCalls .availablePackagesWrapper .row_of_2 .bookBtnWrapper.col {
    width: 100%;
    float: none;
    text-align: center;
    display: block;
    padding-top: 14px;
}

.imagesCalls .availablePackagesWrapper .row_of_2 .bookBtnWrapper.col > a {
    background: rgba(255, 255, 255, 0.92);
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(34, 45, 104, 0.75);
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row > a {
    display: inline-block;
    float: left;
}
.imagesCalls .availablePackagesWrapper .row_of_2 .bookBtnWrapper.col > a:hover {
    background: rgb(255, 255, 255);
        color: rgba(34, 45, 104, 1);
}
div.pageWrapper.attractionPageWrapper .heroSlideshow > button.slick-prev {
    right: initial;
    left: 40px;
    z-index: 100;
    margin-top: -4px;
}
.attractionPageWrapper select.btSelect.reservationTime {
    height: 42px;
    overflow: visible!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    line-height: 50px;
}
div.pageWrapper.attractionPageWrapper .heroSlideshow > button.slick-next {
    margin-top: -4px;
    z-index: 100;
}

div.attractionPageWrapper .heroSlideshow > button.slick-prev:before {
    transform: scaleX(-1);
    margin-left: -10px;
}

div.pageWrapper.attractionPageWrapper .heroSlideshow > button.slick-prev:hover,div.pageWrapper.attractionPageWrapper .heroSlideshow > button.slick-next:hover {
    opacity: .9;
}
div#paginator.datepaginator ul.pagination {
    width: 100%;
}
.sidebar .filters {
    position: fixed;
    padding-bottom: 13px;
    z-index: 11;
    top: 106px;
    left: 0;
    text-align: Center;
    right: 52%;
    /* overflow-x: hidden; */
    background-color: rgba(249, 249, 249, 0.965);
    border-bottom: 1px solid #e5e5e5;
    padding-top: 19px;
    will-change: transform,-webkit-transform;
}

.col.attractionsBrowseListings.sidebar > .header {
    position: relative;
    z-index: 12;
    background: rgba(249, 249, 249, 0.965);
}
.sidebar .filters > .row.row_of_3 {
    padding-left: 28px;
    padding-right: 8px;
    text-align: right;
}
.searchResults #listings > div.col {
    width: calc(50% - (3px / 2));
    margin-right: 3px;
    display: inline-block;
    float: left;
}
.attractionImagesWrapper {
    border-bottom: 0;
}
.listing-item:nth-child(even) {
    margin-right: 0;
}
.listing-item .mainAttractionImage img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-height: 326px;
}
.attractionImagesWrapper > .color_block {
    background-color: #fcfaf8;
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    opacity: .3;
    border-radius: 0;
}
.listing-item {
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
    height: auto;
    margin-bottom: 3px;
    cursor: default;
    border-radius: 0px;
    position: relative;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    vertical-align: top;
}
.searchResults {
    min-height: calc(100vh - 82px);
    width: calc(100% - 6px);
    margin: 0 auto;
    margin-top: 76px;
}
.sidebar .filters > .row.row_of_3 .col input {
    width: 100%;
    font-size: 16px;
    box-shadow: none!important;
    background: #FFFFFF!important;
    border: 1px solid rgba(184,178,174,.35)!important;
    height: 40px;
    padding: 12px 15px 18px;
    line-height: 1;
    letter-spacing: 0;
    border-radius: 3px;
    font-weight: 100;
    padding-top: 18px;
    outline: none;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col {
    position: relative;
    width: calc(33.3333% - 1px);
    border-right: 1px solid #e5e5e5;
}

section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper {
    margin: 4px;
    position: relative;
}

section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper icon.rightChev {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: none!important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.5px 0 14.5px 16px;
    border-color: transparent transparent transparent #ffffff;
}

section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper input.primaryBtn.btn {
    padding-left: 72px;
    padding-right: 72px;
    font-size: 22px;
}

section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper icon.rightChev:before {
    width: 0;
    height: 0;
    content:'';
    border-style: solid;
    border-width: 14.5px 0 14.5px 16px;
    border-color: transparent transparent transparent #0070BB;
    position: absolute;
    top: -14px;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    left: -19px;
    z-index: 10;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered  input {
    font-size: 20px;
    font-weight: 600;
    width: 30px;
    overflow: initial;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered span.key {
    font-size: 18px;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered > h6.uppercase.valB {
    margin-bottom: 26px;
    color: rgba(12, 23, 29, 0.6);
    font-weight: 500;
}

h6.uppercase.valB {}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered > h6.uppercase.valB span {
    color: rgb(12, 23, 29);
    font-weight: bold;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .button.disabled {
    opacity: .25;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .button:hover {
    background: rgba(34, 45, 104, 0.75);
}
section.middleSection.selectTickets > form > .continueBar .inputBtnWrapper input.primaryBtn.btn:hover + icon:before {
    border-color: transparent transparent transparent rgba(34, 45, 104, 0.75);
}
#map-canvas .htmlMarker {
    height: 20px;
    width: 20px;
    left: -50%;
    top: -34px;
    color: #fff;
    padding: 2px 4px;
    background: rgb(241, 135, 113);
    border-radius: 5px;
    width: 26px;
    font-size: 12.5px;
    font-weight: 500;
    text-align: center;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    display: block;
    -webkit-transition: background.1s cubic-bezier(.645,.045,.355,1);
    transition: background .1s cubic-bezier(.645,.045,.355,1);
    font-family: 'Value',sans-serif;
}
#map-canvas .htmlMarker:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    margin-top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0;
    border-width: 5px 6px 0 6px;
    border-color: #f5efeb transparent transparent transparent;
    -webkit-transition: border-color .1s cubic-bezier(.645,.045,.355,1);
    transition: border-color .1s cubic-bezier(.645,.045,.355,1);
    z-index: 12;
}
.htmlMarker span.whiten_block {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: #f5efeb;
    z-index: 10;
}
#map-canvas .htmlMarker > label {
    position: absolute;
    left: 0;
    z-index: 100;
    font-size: 14.5px;
    font-weight: bold;
    width: 26px;
    padding-top: 1px;
    right: 0;
    text-align: center;
}
.attraction_listing_textContent a.btn.secondary_btn:hover {
    background: #0070BB;
    color: #FFFFFF;
}

.htmlMarker.markerActive span.color_block_triangle {
    border-color: #0070BB!important;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
}
.htmlMarker span.color_block_triangle {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    background-color: transparent!important;
    height: 0;
    border-style: solid;
    border-color: rgb(241, 135, 113)!important;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    border-width: 5px 6px 0 6px;
    -webkit-transition: border-color .1s cubic-bezier(.645,.045,.355,1);
    transition: border-color .1s cubic-bezier(.645,.045,.355,1);
    z-index: 10003;
}
#map-canvas .htmlMarker.markerActive {
    box-shadow: none;
    z-index: 1000000;
}
#map-canvas .htmlMarker > .color_block > span {
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    display: block;
    padding: 6px;
}
#map-canvas .htmlMarker > .color_block {
    position: absolute;
    left: 50%;
    top: -2px;
    bottom: 0;
    border-radius: 4px;
    opacity: 1;
    white-space: pre;
    width: 0;
    font-weight: 800;
    transform: translateX(-50%);
    overflow: hidden;
    font-size: 10.5px;
    width: 96px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    font-weight: bold;
    z-index: 1000;
    height: 22px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: rgb(241, 135, 113)!important;
    box-shadow: none;
    transition: width .25s ease-in-out;
    will-change: width;
}
.htmlMarker[exhactive="false"] span.whiten_block {
    border-radius: 4px;
}
.typeahead_dropdown_ui > span.chevron_down {
    background-image: url(../assets/img/optionSelectArrow.png);
    position: absolute;
    right: 15px;
    top: 16px;
    width: 16px;
    height: 11px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
}
.twitter-typeahead .tt-menu {
    background: #FFFFFF;
    border: 0;
    width: 100%;
    top: calc(100% - 1px)!important;
    padding-top: 4px;
    border-radius: 3px;
    padding-bottom: 0;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.05),0 0 0 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.05),0 0 0 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05),0 0 0 1px rgba(0,0,0,0.07);
    text-align: left;
    line-height: 1;
    font-size: 16px;
}
.sidebar .filters > .row.row_of_3 .col span.twitter_typeahead span.twitter-typeahead {
    display: block;
    width: 100%;
}
.sidebar .filters > .row.row_of_3 .col span.twitter_typeahead {
    width: 100%;
}
.sidebar .filters > .row.row_of_3 .col {
    width: calc(38% - (26px / 3));
    margin-right: 13px;
    float: none;
}
.typeahead_dropdown_ui {
    position: relative;
}
.col.attractionsBrowseListings.sidebar > .header > h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #0c171d;
    text-align: left;
    padding-left: 154px;
    padding-top: 26px;
    text-align: right;
    padding-right: 15px;
    line-height: 1.4;
    margin-right: 0;
    opacity: 1;
    padding-bottom: 6px;
    margin-left: auto;
}

.searchResults #listings > div.col:nth-child(even) {
    margin-right: 0;
}
div.mainPageContainer .pageWrapper.attractionsPageWrapper {
    position: relative;
}
.attractionImagesWrapper .mainAttractionImage {
    margin-top: 0px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.attraction_listing_textContent {
    position: relative;
    background: rgba(255, 255, 255, 0.73);
    border-radius: 0;
    padding: 12px;
    margin-top: 10px;
}

.attraction_listing_textContent h6.valB {
    text-transform: none;
    font-weight: 500;
    letter-spacing: .005em;
    line-height: 1.45;
    margin-bottom: 14px;
    opacity: .7;
    margin-top: 6px;
    font-size: 14.5px;
    height: 74px;
}

.attraction_listing_textContent > .row > a.row {
    display: block;
    position: relative;
    margin-bottom: 16px;
}

.attraction_listing_textContent > .row > a.row span.attractionIconColor.col {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
}

.attraction_listing_textContent > .row > a.row span.attractionIconColor.col h3.work {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    padding-left: 1px;
}

.attraction_listing_textContent > .row > a.row h4.val.gray.col {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.attraction_listing_textContent a.btn.secondary_btn {
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: 30px;
}

a.btn.secondary_btn {}
body.attractions {}

body.attractions.index div#mainHeader {
    position: fixed;
    left: 0;
    right: 0;
    background: #FFFFFF;
}

body.attractions.index  .attractionsMapSearch.row {
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 108px);
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
body.packages.reservepackage .heroText.row > .col h3.valB.valUpper > span.middot,body.tours.reservetour .heroText.row > .col h3.valB.valUpper > span.middot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 6px;
    opacity: .6;
    vertical-align: top;
    margin: 8px 12px 5px 2px;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered h1.val {
    font-size: 3em;
    margin-top: 16px;
    margin-bottom: 2px;
    opacity: .6;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .button, section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .adultsCountValWrapper, section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .kidsCountValWrapper {
    float: none;
    vertical-align: top;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .button {
    width: 56px;
    height: 56px;
    background: #0070BB;
    border-radius: 30px;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .button > span {
    width: 58%;
    margin-left: -29%;
    background: #FFFFFF;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .adultsCountValWrapper, section.middleSection.selectTickets > form > .row.row_of_3 > .col.quantity .centered .kidsCountValWrapper {
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 6px;
    width: initial;
}

section.middleSection.selectTickets > form > .continueBar .left_float {}

section.middleSection.selectTickets > form > .continueBar .left_float label {
    font-size: 14.5px;
    padding: 8px 24px 12px;
    opacity: .6;
}

section.middleSection.selectTickets > form > .continueBar .left_float .inputBtnRow {
    margin-left: 23px;
    margin-top: -7px;
    background: #FFFFFF;
    border-radius: 7px;
}

section.middleSection.selectTickets > form > .continueBar .left_float .inputBtnRow input#discountCode {
    border: 0;
    width: 100%;
    font-size: 20px;
    padding: 8px 12px;
    background: transparent;
    padding-right: 56px;
}

section.middleSection.selectTickets > form > .continueBar .left_float .inputBtnRow input.btn.secondary_btn {
    position: absolute;
    right: 4px;
    background: rgba(0, 112, 187, 0.25);
    color: #0070BB;
    top: 4px;
    font-weight: bold;
    bottom: 4px;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal {
    height: 100%;
    position: relative;
    width: 32%;
    border-right: 0;
}
.resPackage {
    margin-bottom: 30px;
    position: relative;
}
.resPackage .resBar_error.resBar_error_count {
    width: 100%;
}
section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal .centered {
    padding-top: 70px;
    padding-bottom: 35px;
    text-align: center;
}

section.middleSection.selectTickets > form > .row.row_of_3 > .col.subtotal h1.val {
    font-size: 4em;
    opacity: .6;
}
body.attractions.index .mainFooterWrapper {
    display: none;
}
.topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h1.valB {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    font-size: 49px;
    max-width: 690px;
    margin: 0 auto;
    line-height: 1.24;
    color:#fff;
}

.topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h3.valB.valUpper {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    max-width: 560px;
    margin: 15px auto 24px;
    line-height: 1.3;
}

.absTransCenter.heroTextFixed.heroText {
    text-align: center;
    margin-top: 31px;
    z-index: 999999;
}

.absTransCenter.heroTextFixed.heroText a.btn.primaryBtn {
    background: #DC2005;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 18px -4px rgba(0, 0, 0, 0.12);
}

.absTransCenter.heroTextFixed.heroText a.btn.primaryBtn:hover {
    background: rgba(220, 32, 5, 0.75);
}
div#paginator.datepaginator ul.pagination:after {
    clear: both;
    content: '';
    display: table;
}

div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-right {
    margin-right: -1px!important;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    height: initial;
    margin-right: 32px;
    border-radius: 7px;
    border: 1px solid #eaeaea;
    overflow: hidden;
    position: relative;
}

.pageWrapper.packagesPageWrapper .packagesGrid {
    max-width: 1180px;
    margin: 0 auto;
    width: calc(100vw - 56px);
}

.pageWrapper.packagesPageWrapper {}

.pageWrapper.packagesPageWrapper .packageGridItem .media.col {
    height: 280px;
    width: 410px;
}

div#paginator.datepaginator ul.pagination li a.dp-item:hover {
    color: rgb(12, 23, 29)!important;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col {
    width: calc(100% - 780px);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 42px;
    text-align: left;
    float: left;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h2.val {
    font-size: 26px;
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray br {
    line-height: 24px;
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray {
    opacity: 1;
    margin-top: 15px;
    font-size: 14.5px;
    line-height: 1;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col .lineSep {}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col a.invBtn.btn.arrowBtn.learnMore {
    font-weight: 400;
    padding-left: 0;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col a.invBtn.btn.arrowBtn.learnMore:after {
    left: 0;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col a.invBtn.btn.arrowBtn.learnMore icon {
    width: 12px;
    height: 12px;
    margin-top: 3px;
    vertical-align: top;
    display: inline-block;
}

.pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col {
    background: #eaeaea;
    height: 269px;
    border-radius: 0;
    position: absolute;
    z-index: 100000;
    width: 180px;
    right: 201px;
    top: 6px;
    bottom: 6px;
}

.pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col {
    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
}
.pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col h6.gray.uppercase.valB {
    font-size: 14.5px;
    padding-bottom: 14px;
    margin-bottom: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col h2.price {
    font-size: 28px;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.15);
    font-weight: 100;
}
.pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a:hover {
    background: rgba(220, 32, 5, 0.75);
}

.pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a:hover p.absTransCenter {
    color: #FFFFFF;
}
a.btn.fullBtn.primaryBtn p {
    white-space: pre-line;
    font-size: 23px!important;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    line-height: 1.35;
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray span.middot {
    display: block;
    margin-top: 4px;
}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray i.material-icons {
    vertical-align: top;
    margin-top: -3px;
    font-size: 14.5px;
    margin-top: 1px;
    margin-right: 4px;
}
a.btn:focus,a.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pageWrapper.packagesPageWrapper .packageGridItem.row >  .bookBtnWrapper.col > a {
    background: #DC2005;
    width: 100%;
    border-radius: 0;
    height: 100%;
    color: #fff;
    font-size: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 5px;
    outline: none;
    height: calc(100% - 10px);
    margin-right: 9px;
    width: calc(100% - 10px);
    border-radius: 0 0 0 0 4pxx;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}
.attractionPageWrapper .heroSlideshow.heroSlideshowBikeTours:after {content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: #000000;opacity: .4;}

section > .row.attractionInfo {
    margin: 48px auto;
    width: 95%;
}

section > .row.attractionInfo > .col.left_float.textualInfo {
    width: 100%;
    position: relative;
}

    .packageTours {
        float: left;
        width: 52%;
        display: none;
    }
    .halfContainer {
        width: 45% !important;
        float: right;
        position: absolute;
        right:0;
        top:0;
        height: 440px;
    }
   .is-sticky .halfContainer#sticker {
        right:2%;
        width: 43% !important;
    }
.continueBar.row {
    width: 100%;
    margin-top: 30px;
    margin-left: 0 !important;
}
section > .row.attractionInfo > .col.left_float.textualInfo .packagePricing{
    width: 52%;
    text-align: center;
}
section > .row.attractionInfo > .col.left_float.textualInfo form.row.reservePackageForm {
    width: 52%;
    text-align: center;
    margin-left: 0 !important;
}
section > .row.attractionInfo > .col.left_float.textualInfo .col.quantity h1 {
    text-align: center;
}

section > .row.attractionInfo > .col.left_float.textualInfo .col.subtotal {
    text-align: center;
    padding-top: 13px;
    margin-left: 20px;
    display: block;
}
section > .row.attractionInfo .col.quantity {
    width: 100%;
    display: block;
    margin-top: 25px;
}
section > .row.attractionInfo > .col.right_float.imagesCalls {
    width: 250px;
    float: right;
    display: none;
}

.col.right_float.imagesCalls > .verticalMedia {
    width: 100%;
    margin-bottom: 32px;
}

.col.right_float.imagesCalls > .verticalMedia > img {
    width: 100%;
}

section > .row.attractionInfo > .col.right_float.imagesCalls .attractionDetailMap {
    overflow: hidden;
    border-radius: 8px;
    height: 290px!important;
}

section > .row.attractionInfo > .col.right_float.imagesCalls .attractionDetailMap > iframe {
    width: 100%!important;
    height: 290px!important;
}

.descriptionText > p {
    letter-spacing: 0;
    font-size: 13px;
    line-height: 1.55em;
    color:rgba(12, 23, 29, 0.65);
    margin-bottom: 20px;
}

.descriptionText > ul {
    font-size: 13px;
    color:rgba(12, 23, 29, 0.65);
    margin-bottom: 20px;
}

.descriptionText > ul > li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.descriptionText > ul > li:before {content: '';position: absolute;left: 1px;top: 5px;width: 8px;height: 8px;background: #0c171d;border-radius: 19px;}

.col.left_float.textualInfo > .row h3.val {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .18em;
    border-bottom: 7px solid rgba(12, 23, 29, 0.05);
    height: 39px;
    width: 100%;
}

.col.left_float.textualInfo > .row {
    margin-bottom: 24px;
}
.additionalAttractionsRow.row {
    max-width: 1180px;
    border: 11px solid rgba(12, 23, 29, 0);
    margin: 0 auto;
    border-radius: 7px;
    position: relative;
    width: calc(100vw - 56px);
    background-size: cover;
    background-position: center center;
    display: none;
}

.additionalAttractionsRow.row:before {
    position: absolute;
    left: -8px;
    top: -9px;
    right: -5px;
    width: calc(100% + 16px);
    bottom: 6px;
    border-radius: 5px;
    height: calc(100% + 18px);
    background: #FFFFFF;
    opacity: 1;
    z-index: 10;
    display: block!important;
    clear: initial;
}

.additionalAttractionsRow.row a {
    display: block;
    margin: -9px;
    background-image: url(/content/frontend/assets/img/brandGradient.png);
    z-index: 100;
    overflow: hidden;
    position: relative;
    background-size: cover;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12.5px;
}

.additionalAttractionsRow.row .left_float a {
    border-radius: 5px;
    padding: 17px 22px 1px;
    line-height: 1;
}

.additionalAttractionsRow.row .right_float a {
    border-radius: 5px;
    padding: 17px 22px 1px;
    line-height: 1;
    vertical-align: top;
}

.additionalAttractionsRow.row .right_float.col {
    float: right;
}

.additionalAttractionsRow.row a p {
    vertical-align: top;
    display: inline-block;
    font-weight: 600;
    padding-top: 5px;
    position: relative;
    z-index: 2;
}

.additionalAttractionsRow.row a icon.leftChevron {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    width: 14px;
    position: relative;
    z-index: 2;
    height: 13px;
}

.left_float.col > a > icon.leftChevron {
    -webkit-transform: scaleX(-1);
    margin-right: 2px;
    transform: scaleX(-1);
}

.additionalAttractionsRow.row a > .media {
    width: 44px;
    height: 36px;
    display: inline-block;
    margin-top: -8px;
    margin-bottom: 8px;
    vertical-align: top;
    opacity: .6;
    border-radius: 12px;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    position: relative;
    z-index: 2;
}
.col.left_float.textualInfo > .row h3.val > span.middot {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: rgba(12, 23, 29, 0.33);
    border-radius: 0;
    vertical-align: top;
    margin: 5px 9px 7px 5px;
    opacity: .7;
}

section > .row.attractionInfo > .col.left_float.textualInfo .col.left_float {
    float: none;
    display: block;
}
.col.attractionsBrowseListings.sidebar {
    position: fixed;
    top: 59px;
    left: 0;
    bottom: 0;
    width: 48%;
    height: calc(100vh - 59px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
}
.col.attractionsBrowseMap.map .loader-container {
    /* top: 50%; */
    z-index: 2;
}
.col.attractionsBrowseMap.map > .blurredMap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.col.attractionsBrowseMap.map .loader-container .loader-inner > div {
    background-color: #0070BB;
}
.col.attractionsBrowseMap.map div#map-canvas {
    height: 100%;
    z-index: 3;
}
.pageWrapper section.topSection .heroContainer.shortHeroContainer {
    height: 450px;
    position: relative;
}

.pageWrapper section.topSection .heroContainer.shortHeroContainer .heroText {
    margin-top: 35px;
    z-index: 100;
    top: 35%;
    background: transparent;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: calc(100vw - 56px);
    transform: translateY(-50%);
    position: absolute;z-index: 999;
}

.pageWrapper section.topSection .heroContainer.shortHeroContainer .heroSlideshow .slick-slide:before {content: '';position: absolute;left: 0;top: 0;right: 0;z-index: 10;bottom: 0;background: #000000;opacity: .6;}

.pageWrapper section.topSection .heroContainer.shortHeroContainer .heroText h3.valB.valUpper {
    max-width: 600px;
}

div#paginator.datepaginator {
    max-width: 1280px;
    margin: 14px auto 24px;
    font-size: 0;
    width: calc(100vw - 56px);
}

div#paginator.datepaginator ul.pagination {
    border-top: 1px solid #e5e5e5!important;
    border-bottom: 1px solid #e5e5e5!important;
    margin: 0 auto;
    display: block;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
}

div#paginator.datepaginator ul.pagination li {
    font-size: 12px;
}
div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-left:hover, div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-right:hover {
    background: rgba(34, 45, 104, 0.75);
}
div#paginator.datepaginator ul.pagination li a.dp-item {
    color: rgba(12, 23, 29, 0.59)!important;
    font-weight: 600;
    border: 0!important;
    border-right: 1px solid rgba(12, 23, 29, 0.11)!important;
    border-radius: 0!important;
    background: #FFFFFF!important;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
}
div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-left:before, div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-right:before {
    content:'';
    background-image:url(../assets/img/rightChevron.png);
    width: 14px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: Absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

body.packages.reservepackage .heroText.row {
    text-align: left;
    max-width: 924px;
    margin: 0 auto;
}

body.packages.reservepackage .heroText.row .col.logoBlock {}

body.packages.reservepackage .heroText.row .col.logoBlock .col {}

body.packages.reservepackage .heroText.row .col.logoBlock .homeLink img,body.tours.reservetour .heroText.row .col.logoBlock .homeLink img {
    width: 112px;
}

body.packages.reservepackage .heroText.row > .col h1.biggest.valB,body.tours.reservetour .heroText.row > .col h1.biggest.valB {
    text-align: left;
    max-width: 740px;
    font-size: 48px;
}

body.packages.reservepackage .heroText.row > .col h3.valB.valUpper,body.tours.reservetour .heroText.row > .col h3.valB.valUpper {
    text-align: left;
    max-width: 890px;
}

body.packages.reservepackage .heroText.row .col:last-child {
    width: calc(100% - 120px);
}
.twitter-typeahead .tt-menu tt-suggestion {
    padding: 12px 15px 18px;
}

.twitter-typeahead .tt-menu .tt-suggestion {
    font-size: 14px;
    padding: 9px 15px 9px;
    display: block;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    cursor: pointer;
}

.twitter-typeahead .tt-menu .tt-suggestion:hover,.twitter-typeahead .tt-menu .tt-suggestion.tt-cursor {
    background: rgba(0, 112, 187, 0.25);
    color: rgba(0, 112, 187, 0.8);
}
section.middleSection.selectTickets {
    min-height: calc(100vh - 306px);
    background: -webkit-linear-gradient(180deg,#FFFFFF,#ececec);
    background: linear-gradient(180deg,#FFFFFF,#ececec);
}
#names_typeahead .tt-dataset.tt-dataset-attr-search {
    overflow: scroll;
    max-height: 220px;
}
.pageWrapper.reservePackagePageWrapper {}

.pageWrapper.reservePackagePageWrapper .promoBar {
    border-color: #FFFFFF;
    border-top: 0!important;
    padding-left: 21px;
    background: rgba(253, 253, 253, 0.95);
    padding-right: 21px;
    text-align: center!important;
}

section.middleSection.selectTickets > form > .row.row_of_3 {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    max-width: 1080px;
    margin: 48px auto 0;
    border-radius: 8px;
    position: relative;
    width: calc(100vw - 56px);
}
.pageWrapper section.topSection .heroContainer .heroSlideshow.heroSlideshowBikeTours > button {
    display: none!important;
}
section.middleSection.selectTickets > form > .continueBar {
    /* border: 1px solid #e5e5e5; */
    /* box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1); */
    /* background: #FFFFFF; */
    max-width: 1080px;
    margin: 12px auto 0;
    border-radius: 8px;
    width: calc(100vw - 56px);
}
.fixedReserveRow.fixedReserveRow_AttractionsIndex {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    pointer-events: all;
    background-color: #DC2005;
}
div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-left i, div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-right i {
    opacity: 0;
}
div#paginator.datepaginator ul.pagination li a.dp-item.dp-selected,div#paginator.datepaginator ul.pagination li a.dp-item.dp-selected:hover {
    background: rgba(0, 112, 187, .15)!important;
    color: rgba(0, 112, 187, 1)!important;
    font-weight: bold!important;
    box-shadow: 1px 0 0 0px rgba(12, 23, 29, 0.038) inset;
    margin-left: -1px!important;
    border-right: 1px solid rgba(12, 23, 29, 0.14)!important;
    height: calc(100% + 3px);
    margin-bottom: -2px!important;
    margin-top: 0px!important;
}
.pageWrapper.packagesPageWrapper .packageGridItem.row > .pricing.col .absTransCenter {
    text-align: center;
    width: 100%;
}

.packagesPageWrapper div.packageGridItem.row div.absTransCenter .walkin.circle h2.price span {
    font-style: italic;
    font-size: 11.5px;
}
div#paginator.datepaginator ul.pagination li a.dp-item.dp-no-select {
    pointer-events: none;
    opacity: .2;
    cursor: default;
}
div#paginator.datepaginator ul.pagination li a.dp-item.dp-selected i#dp-calendar {
    display: none;
}
.pageWrapper.reservePackagePageWrapper .promoBar > p {
    width: 100%;
    padding: 0;
    text-align: center!important;
}
.packageSortingRow_content_width {
    max-width: 1080px;
    width: calc(100vw - 56px);
    margin: 0 auto;
    margin-bottom: 24px;
}

.packageSortingRow_content_width a button {
    background-color: #fff;
    border: 1px solid rgba(12, 23, 29, 0.21);
    padding-top: 10px;
    font-size: 16px;
    padding: 7px;
    background: #fff;
    outline: 0;
    height: 35px;
    display: inline-block;
    vertical-align: top;
}

.pageWrapper.packagesPageWrapper section.middleSection {
    padding-top: 10px;
}

a.faux_dropdown {
    border: 0;
    border: 1px solid rgba(12, 23, 29, 0.21);
    padding-top: 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding-right: 30px;
    background: Transparent;
    cursor: pointer;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    padding-bottom: 6px;
    position: relative;
}
a.faux_dropdown:hover {
    border-color: rgba(12, 23, 29, 0.45);
}

a.faux_dropdown:hover icon.dropdownArrow {
    opacity: 1;
}
a.faux_dropdown > p {
    display: inline-block;
    font-weight: 100;
    color:#0c171d;
    border-right:2px solid #f1f3f5;
    padding-right: 41px;
}
a.faux_dropdown.lowToHigh > icon {
    transform: scaleY(-1);
}
body.attractions.attraction .topSection .heroContainer .absTransCenter.heroTextFixed.heroText > h3.valB.valUpper {
    font-size: 16.5px;
}

body.attractions.attraction .topSection .heroContainer .absTransCenter.heroTextFixed.heroText > .reservationBarWrapper.reservationBarTandemIncluded {
    opacity: 1;
    -webkit-transform: none!important;
    transform: none!important;
}
a.faux_dropdown > icon {
    background-image: url(../assets/img/dropdownArrow.png);
    position: absolute;
    right: 10px;
    width: 13px;
    height: 13px;
    top: 10px;
    opacity: 1;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
}
a.promoBarLeftBtn > icon {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

a.faux_dropdown {
    background-color: #fff;
    padding-left: 15px;
    width: 220px;
}
#map-canvas .htmlMarker.markerActive .color_block {width: 96px;-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);box-shadow: 0 0 0 1px rgba(0,0,0,0.2);background: #0070BB!important;}
div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-left,div#paginator.datepaginator ul.pagination li a.dp-nav.dp-nav-right {
    background: #0070BB;
    color: #FFFFFF;
    margin-top: -1px!important;
    height: calc(100% + 4px);
    margin-bottom: -1px!important;
    width: 31px!important;
    -webkit-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 312ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
}
.tt-dataset.tt-dataset-category-search {
    max-height: 120px;
    overflow: scroll;
}
.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray span {
    display: block;
    margin-bottom: 12px;
    opacity: .5;
}

h4.val.gray {}

.pageWrapper.packagesPageWrapper .packagesGrid .packageGridItem.row .textualData.col h4.val.gray span.time {
    opacity: 1;
    color: #f18771;
}
.tt-dataset.tt-dataset-category-search {
    max-height: 146px;
    overflow: scroll;
}
.descriptionText .packageAvailability {
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    padding: 18px 22px 13px;
    position: relative;
}

.packageAvailability > h3.val {
    background: #FFFFFF;
    display: inline-block;
    position: absolute;
    bottom: calc(100% - 9px);
    text-transform: uppercase;
    left: 18px;
    letter-spacing: .12em;
    padding: 4px 9px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(12,23,29,0.5);
    margin-bottom: 0;
}

.descriptionText .packageAvailability .descriptionText {
    margin-bottom: 6px;
    font-size: 14px;
}

.availablePackagesWrapper > h6 {
    text-align: center;
    padding-bottom: 0;
}

.fixedReserveRow_AttractionsIndex .reserveBarFixed .reservationBarWrapper .step select {
        padding: 15px 15px 15px 15px;
}

.fixedReserveRow_AttractionsIndex .reserveBarFixed .reservationBarWrapper .step select + span.dropdownArrow {
    margin-top: -2px!important;
}

    .bookNowHeader {
        background: #DC2005;
        height: 54px;
        width: 100%;
        position: fixed;
        top:0;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        display: none;
    }
    .bookNowContain {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
    }
    .bookNowContain .bookNowHeaderTitle {
        position: absolute;
        padding-left: 3%;
    }
    .bookNowContain .bookNowHeaderTitle h4 {
            font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .135em;
        font-weight: 200;
        padding-top: 17px;
        color:#fff;
    }
    .bookNowForm {
        width: 100%;
        position: relative;
        text-align: center;
    }
    .bookNowForm .quantity {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
    }
    .bookNowForm .subtotal {
        padding-top: 16px;
        margin-left: 20px;
        text-align: center;
    }
    .bookNowForm .subtotal {
        padding-top: 14px;
        font-size: 14px;
        color:#fff !important;
    }
    .bookNowForm .continueBar.row {
        float: right;
        width: auto;
        margin-top: 1px;
    }
    .bookNowForm .continueBar.row .resPackage  {
        position: absolute;
        right: 0;
        top: 10px;
        padding-right: 10%;
    }
    .bookNowForm .continueBar.row .resPackage input {
        border-radius: 0;
    }
    .bookNowForm .continueBar.row .resPackage .btn.primaryBtn {
        padding: 8px 12px;
    }