/*HOME*/

/*Main Banner*/
.video-container {
    height: 650px;
    overflow: hidden;
    width: 100%;
    background-size cover;
    background-repeat: no-repeat;
    background-position: center -300px;
}

/*Promo Banner*/
    .promo_home {
        background-size: cover;
        height: 360px;
        width: 100%;
        background-position: center -50px;
        background-repeat: no-repeat;
    }
    .promo_home_text {
        text-align: center;
        padding-top: 80px;
        width: 90%;
        margin: 0 auto;
    }
    .promo_home_text h1 {
        color:#fff;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(51, 51, 51, 0.25);
        margin: 15px auto;
        font-size: 42px;
    }
    .promo_home_text h5 {
        color:#E01F29;
    }
    .promo_home_text a.btn {
        width: 200px;
    }
    .promo_home_text a.btn p {
        font-size: 18px;
    }


/*Reservation Bar*/
@-webkit-keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.uil-default-css > div:nth-of-type(1) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(2) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.4166666666666667s;
    animation-delay: -0.4166666666666667s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(3) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.33333333333333337s;
    animation-delay: -0.33333333333333337s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(4) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(5) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(6) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.08333333333333331s;
    animation-delay: -0.08333333333333331s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(7) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(8) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.08333333333333337s;
    animation-delay: 0.08333333333333337s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(9) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(10) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(11) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.33333333333333337s;
    animation-delay: 0.33333333333333337s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css > div:nth-of-type(12) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.41666666666666663s;
    animation-delay: 0.41666666666666663s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}


/*Homepage Slider*/ 
/*    #jssor_1 > div > div > div{
        right:0 !important;
    }
#jssor_1 > div > div > div.jssort11 {
    left: 0 !important;
}*/

#jssor_1 > div > div > div:nth-child(3),
#jssor_1 > div > div > div:nth-child(2) {
    right: 0 !important;
    left: auto !important;
}
#jssor_1 > div > div > div.jssort11 {
    left: 0 !important;

}
/*TopView Updates*/


/*Header*/

.topLevelHeader {
    padding: 9px 33px 0px;
    width: 100%;
    overflow: hidden;
}
.topLevelHeader .leftBlock {
    float:left;
    width: 55%;
}
.topLevelHeader .rightBlock {
    float:right;
    width: 45%;
    text-align: right;
}
.topLevelHeader .rightBlock img {
    display: inline-block;
    vertical-align: middle;  
    width: 12px;
    margin-right: 2px; 
}
.topLevelHeader .leftBlock h6,
.topLevelHeader .rightBlock h6 {
    letter-spacing: 1.5px;
    display: inline-block;
    vertical-align: middle;
    color:rgba(255, 255, 255, 1);
    margin-top: 0;
}
.topLevelHeader .rightBlock h6 a {
    color:#fff !important;
}

.rightBlock .blockLinks {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 100%;
    text-align: right;
    margin-right: 20px;
}
.rightBlock .blockLinks h6 {
    letter-spacing: 1.5px;
    display: inline-block;
    vertical-align: middle;
    color:rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    padding-right: 15px;

}
.rightBlock .blockLinksSocial {
    display: inline-block;
    vertical-align: middle;  
    width: 150px;
    margin-left: 20px;
}
.rightBlock .blockLinksSocial img {
    width: 150px;
} 

div.mainHeader .row.middleRow .sub_header {
    overflow: hidden
}
div.mainHeader .row.middleRow .sub_header .logo {
    width: 11%;
    float: left;
    padding-top: 7px;
    padding-left: 30px;
}
div.mainHeader .row.middleRow .sub_header .logo img {
    height: 58px;
}

div.mainHeader .row.middleRow .sub_header .menu {
    text-align: center;
    padding-top: 23px;
    width: 70% ;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
} 

div.mainHeader .row.middleRow .sub_header .menu li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
div.mainHeader .row.middleRow .sub_header .menu li h6 {
    
    letter-spacing: 1.25px;
    color: rgba(255, 255, 255, 1);
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2em;
}
div.mainHeader .row.middleRow .sub_header .menu li h6 a {
    color:#333333;
}
div.mainHeader .row.middleRow .sub_header .menu li h6 a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.sub_header .subNavWrap::before {

    content: '';
    position: absolute;
    left: 45px;
    width: 0;
    height: 0;
    top: 6px;   
    border-style: solid;
    border-width: 0 9.5px 8px;
    border-color: transparent transparent #DC2005;
    z-index: 2;

}
.sub_header .menu .subNavWrap {
    height: auto;
    right: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    left: 4px;
    top: 15px;
    z-index: 100000;
    text-align: left;
    height: auto;
    width: 150px;
    -webkit-transition: max-height .4s cubic-bezier(0.77,0,0.175,1),transform .4s cubic-bezier(0.77,0,0.175,1),opacity .35s cubic-bezier(.645,.045,.355,1),visibility 0 linear .4s;
    transition: max-height .4s cubic-bezier(0.77,0,0.175,1),transform .4s cubic-bezier(0.77,0,0.175,1),opacity .35s cubic-bezier(.645,.045,.355,1),visibility 0 linear .4s;
    line-height: 2;
    font-weight: 400;
    letter-spacing: normal;
    opacity: 0;
    border-top: none;
    color: #999;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    }
.sub_header .menu .subNavWrap div.subNavLinksList {
    padding-top: 7px;
    padding-bottom: 6px;
    border-radius: 3px;
    background: #DC2005;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.15);
    margin: 14px 2px 2px;
}
.sub_header .menu .subNavWrap div.subNavLinksList a {
    color:#fff !important;
}

.sub_header .menu li.triggerNavSubRow:hover .subNavWrap {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transition: max-height .6s cubic-bezier(0.77,0,0.175,1),-webkit-transform .6s cubic-bezier(0.77,0,0.175,1),opacity .5s cubic-bezier(.645,.045,.355,1),visibility 0 linear 0;
    transition: max-height .6s cubic-bezier(0.77,0,0.175,1),transform .6s cubic-bezier(0.77,0,0.175,1),opacity .5s cubic-bezier(.645,.045,.355,1),visibility 0 linear 0;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    max-height: 720px;
}
.sideMenuSocial {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sideMenuSocial li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.sideMenuSocial li .fa {
    font-size: 20px;
}

/*Subscribe Homepage*/
.subscribe_section {
    background-color: #f1f3f5;
}

.subscribe_container {
    width: 70%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
}

.subscribe_section h4 {
    font-size: 26px;
    font-weight: 100;
    line-height: 1.35em;
    color: #8078a3;
    text-align: center;
    width: 550px;
    margin: 0 auto 25px;
}

.subscribe_section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    color: #25296e;
    text-align: center;
}

.subscribe_form {
    padding-top: 30px;
}

.subscribe_form input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 0;
    height: 34px;
}

.subscribe_form input[type="submit"] {
    padding: 5.5px;
    width: 125px;
    background: transparent;
    border: 2px solid #E01F29;
    color: red;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    height: 34px;
}
.lastSection .row .col {
    background-color: #fff;
}
.lastSection .row .col img {
    width: 50px;
    margin: 0 auto 20px;
}

/*Home*/
.home_columns {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    overflow: hidden;
    background: #f1f3f5;
}

.home_columns > div {
    color: #333333;
    text-align: center;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin-bottom: 40px;
}

.home_columns > div h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.35em;
}
.solo_package h5 {
    height: 50px;
}
h4.val.grounded {
    position: absolute;
    bottom: 50px;
}
.home_columns > div h4 {
    font-size: 15px;
    font-weight: 100;
    line-height: 1.25em;
    margin-bottom: 10px;    
        bottom: 40px;
    left: 0;
    margin: auto;
    right: 0;
}

.home_columns .column_reviews {
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid rgba(128, 120, 163, 0.3);
}

.home_columns .column_reviews div#CDSWIDSSP {
    width: 100% !important;
}

.home_columns .column_packages {
    width: 100%;
    overflow: hidden;
}
.home_columns .column_packages h5 {
    font-size: 30px;
    text-transform: capitalize;
}
.column_packages .solo_package {
    float: left;
    position: relative;
    min-height: 325px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
    padding-bottom: 20px;
    background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.package_name {
    float: left;
    width: 45%;
}
body.package .column_packages .solo_package{
    width: 47%;
}
.column_packages .solo_package h5 {
    text-transform: capitalize;
    width: 97%;
    margin: 0 auto;
    letter-spacing: 0;
    font-size: 16px;
    height: 100%;
    margin-bottom: 10px;
}
.column_packages .solo_package img {
    width: 100%;
    margin-bottom: 25px;
    height: 150px;
}

.solo_package .starting_price p {
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    color:#8078a3;
    font-weight: 300;
}
.solo_package .starting_price p span.big {
    font-size: 14px;
}
.solo_package .act_now {
    margin-top: 35px;
    text-align: center !important;
        position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.tour_header_pack  {
    margin-bottom: 0 !important;
    width: 100% !important;
    position: relative;
}
.tour_header_pack h3 {
        font-weight: 100;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgba(12, 23, 29, 0.85);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(12, 23, 29, 0.15);

}
.tour_header_pack h5.val {
    font-size: 20px;
    margin-top: 15px;
}
.tour_header_pack > img {
    top:11px !important;
    right: 35px !important;
    width: 15px;
}
.tour_header_pack .media {
        height: 300px;
    background-position: center !important;
}
.equipmentFreeSection.row.equipmentFreeSection_tour {
    counter-reset: item;
}
div.more_packages:before {
    content: counter(item) " ";
    counter-increment: item;
    font-size: 18px;
    color:#E01F29;
    position: absolute;
    left:20px;
}
.home_columns .column_reviews p {
    font-size: 15px;
    line-height: 1.4em;
}

.column_reviews .choose_us_left {
    width: 100%;
}
.column_reviews .choose_us_left h5 {
    font-size: 30px;
}
.column_reviews .choose_us_left p {
    width: 75%;
    margin: 0 auto;
    line-height: 1.6em;
    font-size: 24px;
}
.column_reviews .why_choose_us {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}
.column_reviews .why_choose_us ul {
    padding-top: 20px;
    overflow: hidden;
}

.column_reviews .why_choose_us ul div.half {
    width: 50%;
    float: left;
}
.column_reviews .why_choose_us ul li {
    text-align: left;
}

.column_reviews .why_choose_us li .image_box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.column_reviews .why_choose_us li > .image_box img {
    width: 55px;
}
.column_reviews .why_choose_us li > .text_box {
    width: 200px;
        display: inline-block;
    vertical-align: middle;
}
.column_reviews .why_choose_us li h6 {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;

}

/*PACKAGES HOMEPAGE*/
.compare_pricing {
    width: 100%;
    text-align: center !important;
}

.compare_pricing .online_price.circle h2.price,
.compare_pricing .online_price.circle p.gray.uppercase.valB {
    color:#0c171d;
    opacity: 1;
}
.compare_pricing .walkin.circle h2.price {
    color:rgba(84, 86, 86, 0.4);
}

/*CONTACT PAGE*/
.contact_form_container .input_contain {
    margin-bottom: 17px;
    position: relative;
}
.contact_form_container label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
    width: 100%;
}
.contact_form_container input,
.contact_form_container textarea{
        width: 95%;
        border: 1px solid #e5e5e5;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 6px 16px;
    font-size: 18px;
}
.contact_form_container textarea {
    height: 105px;
}
.contact_form_container input[type="submit"] {
        background: #333333;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color:#fff;
}


/*NYC GUIDE PAGE*/

.mainContainer.routeContainer {
    width: 98%;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    height: 810px;
}
 .halfContainer#routes{
     width: 30%;
     margin: 0 auto;
     float: left;
     min-width: 350px;
 }
.halfContainer#maps {
     width:70%;
     margin: 0 auto;
     float: left;
     min-width: 350px;
    position: absolute;
    right: 0;
    top:143px;
    z-index: 1;
}
.routes_attractions_block {
    z-index: 2;
    position: relative;
}
.routes_map_title {
    width: 30%;
    float: left;
    background: #DC2005;
    text-align: center;
    height: 83px;
    padding-top: 13px;
}
.routes_map_title h1 {
    text-align: center;
    color: #FFFFFF;
    line-height: 1;
    overflow: hidden;
}
.routes_map_title .routes_icon {
    width: 25%;
    float: left;
}
.routes_map_title .routes_icon img {
    width: 56px;
    padding:11px;
    border:2px solid #fff;
        border-radius: 28px;
}
.routes_map_header {
    overflow: hidden;
    width: 70%;
    float: left;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 83px;

}
.routes_map_btn {
    float: left;
    width:16.66%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.routes_map_btn .routeSelection {
    padding-top: 15px;
    height:48px;
    border: 2px solid #f1f1f1;
    border-bottom: 2px solid #e4e4e4;
    background: #f1f1f1;
    border-radius: 40px;
}
.routes_map_btn .routeSelection h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.routes_map_btn .routeSelection:hover {
    cursor: pointer;
}
 .routes_map_btn .routeSelection.active{
    border: 2px solid #DC2005;
    border-bottom: 2px solid #DC2005;
    background: #fff;
     color:#DC2005;
}
.routes_attractions_block .attractions_row {
    background: #fff;
}
.routes_attractions_block .attractions_row p {
    font-size:15px;
    color:rgba(12, 23, 29, 0.75);
    font-weight: 600;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(12, 23, 29, 0.1);
    margin: 0 auto;
}
.routes_attractions_block .attractions_row p:hover {
    color: rgba(34, 45, 104, 1);
    cursor: pointer;
    border-bottom: 1px solid rgba(34, 45, 104, 0.5);
}
.routes_attractions_block #attractions{
    background: #7c1203;
    height: 83px;
    padding-top: 33px;
}
.routes_attractions_block h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 19px;
    color:#fff;
}

/*Tours-Lobby Page*/
body.tours {
    background-color: #f1f3f5;
}
section.tour_explore {
    z-index: 99999;
    margin-top: -125px;
    position: relative;
    width: 500px;
    float: left;
}
.tour_container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.tour_header {
    color:#fff !important;
}
.tour_locals {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.tour_locals > div {
    margin-bottom: 5px;
}
.tour_locals > div img {
    width: 100%;
    opacity: 0.8;
}
.tour_locals > div img:hover {
    opacity: 1;
    cursor: pointer;
}
.tour_subscribe {
    background-color: rgba(216, 217, 218, 0.35);
    padding: 20px 15px;
    margin-top: 10px;
}
.tour_subscribe {
    color:#272d6a;
}
.tour_subscribe p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.3em;
    width: 350px;
}
.tour_subscribe h3 {
    font-size: 14px !important;
    width: 350px;
    line-height: 1.2em !important;
    margin-top: 15px;
}

section.toursGrid {
    float: left;
    width: calc(100% - 500px);
    margin-top: 0 !important;
}
section.toursGrid .row_of_attractions {
    width: 100%;
    border-top: 0;
    padding-bottom: 50px;
}
section.toursGrid .row_of_attractions img {
    margin-top: 20px;
}
section.toursGrid .tours_featured h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: #25296e;
    text-align: left;
}
section.toursGrid .tours_featured h4 {
    font-size: 26px;
    font-weight: 100;
    line-height: 1.35em;
    color: #25296e;
    text-align: left;
}
section.middleSection.toursGrid.toursGridSimplified > .col {
    padding: 10px;
}
section.middleSection.toursGrid.toursGridSimplified > .col > a h4 {
    font-size: 26px;
    font-weight: 100;
    line-height: 1.35em;
    color: #25296e;
    text-align: left;
    float: left;
}
section.middleSection.toursGrid.toursGridSimplified > .col > img {
    width: 200px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.comparativePricingFormat.row.imageOverlay .col {
    display: block !important;
    margin-bottom: 10px;
}
.comparativePricingFormat.row.imageOverlay .circle {
        display: inline-block;
    vertical-align: middle;
}

.comparativePricingFormat.row.imageOverlay .circle_pretext {
    display: inline-block;
    vertical-align: middle;

}
.comparativePricingFormat.row.imageOverlay .circle_pretext p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    color: #25296e;
}
.filter_bar {
    overflow: hidden;
}
.filter_bar .filter_left{
    width: 50%;
    float: left;
}
.filter_bar .filter_right{
    width: 50%;
    float: right;
    text-align: right;
}
.filter_bar .filter_right button{

    background-color: #fff;
    border: 1px solid rgba(12, 23, 29, 0.21);
    padding-top: 10px;
    font-size: 16px;
    padding:10px;
    background: #fff;
    margin-bottom: 5px;
    width: 71px;
    outline: 0;
}
.filter_bar .filter_right button:hover {
    background-color: #0070BB; 
    color: #fff;
}
.filter_bar .filter_right > div {
    margin-bottom: 20px;
}
.filter_bar .filter_left h3 {
        letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
    color: #25296e;
    text-align: left;
}

/*PACKAGES HOMEPAGE UPDATES*/
    .main_packages {
        background: #f1f3f5;
        padding-bottom: 50px;
    }
    .main_packages_wrapper {
        overflow: hidden;
    }
    .main_packages_child {
         width: 49.5%;
        float: left;
        text-align: center;
        position: relative;
    }
    .main_packages_child:first-child {
        margin-right: 0.5%;
    }
    .main_packages_child:last-child {
        margin-left: 0.5%;
    }
    .main_packages_child_top {
        height: 450px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 60px;
    }
    .main_packages_child_top h3 {
        color: #fff;
        margin: 15px auto 45px;
        font-size: 50px;
        font-weight: 100;
    }
    .main_packages_child_top .btn.primaryBtn {
        width:220px;
        background: rgba(220, 32, 5, 0.7);
    }
.main_packages_child_top .btn.primaryBtn:hover {
    background: rgba(220, 32, 5, 1);
}
    .main_packages_child_top a p {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .main_packages_pricing {
        position: absolute;
        bottom: 20px;
        width:100%;
    }
    .main_packages_pricing > div:first-child {
        float: left;
        text-align: left;
    }
    .main_packages_pricing > div:last-child {
        float: right;
        text-align: right;
    }
    .main_packages_pricing > div {
        width:300px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main_packages_pricing > div h6 {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        margin-right: 15px;
        letter-spacing: 1.5px;
    }
    .main_packages_pricing > div > div {
         display: inline-block;
        vertical-align: middle;
        text-align: center;
        background: #333;
            border-radius:50%;
        padding: 10px;
/*        border: 2px solid rgba(220, 32, 5, 1);*/
    }
    .main_packages_pricing > div > div#walkins p {
        color: rgba(255, 255, 255, 1);
    }
    .main_packages_pricing > div > div p {
        text-transform: uppercase;
        font-size: 12px;
        color:#fff;
        line-height: 1.5em;
    }
    .main_packages_pricing > div > div p span {
        font-size: 24px;
    }

/*Tour Detail Page*/

.heroText span.book_now {
    color: #fff;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0 !important;
    border: 0;
    text-transform: capitalize !important;
    padding: 7px;
    width: 220px;
    margin: 20px auto 0 !important;
    background-color: #E01F29;
}

.more_info_button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.more_info_button p {
    color:#fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.more_info_button img {
    width: 50px;
    margin: 0 auto;
}

.textualInfo .tourName p {
    margin-top: 15px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 12px;
    color:rgba(12, 23, 29, 0.65);
}
.textualInfo .tourName p.inline {
    display: inline-block;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  vertical-align: bottom;
  color: #273971;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.textualInfo > .descriptionText h3 {
    font-size: 16px;
        line-height: 1.5em;
    width: 90%;
}
.pass_validity {
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.pass_validity img {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.pass_validity .text {
    display: inline-block;
    vertical-align: middle; 
    width: 70%;
    margin-left: 2%;
}
.pass_validity .text h6 {
    letter-spacing: 0;
    font-size: 16px;
    color:rgba(12, 23, 29, 0.85);
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.pass_validity .text p {
    letter-spacing: 0;
    font-size: 13px;
    line-height: 1.4em;
    color:rgba(12, 23, 29, 0.65);
}
.pass_validity .text p span a {
    color:#E01F29;
    border-bottom: 1px solid rgba(226, 30, 42, 0.3);
    font-weight: bold;
}
.descriptionText {
    margin-bottom: 17px;
    padding-bottom: 15px;
}
.packageAttractions {
    text-align: center;
}
.descriptionText h3 {
    font-weight: 100;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 7px;
    color:rgba(12, 23, 29, 0.85);
}
.descriptionText li {
    font-size: 13px;
}
.descriptionText p span a {
    color:#E01F29;
    border-bottom: 1px solid rgba(226, 30, 42, 0.3);
    font-weight: bold;
}

.row.dealsEquipmentCols .col.textual {
    width: 690px;
}
.equipmentFreeSection.row > .col img {
    width: 60px;
    display: inline-block;
    vertical-align: top;
}
.equipmentFreeSection.row > .col .more_packages {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0;
    margin-bottom: 2px;
}
.equipmentFreeSection.row > .col .more_packages .title_bar {
    padding: 8px 16px;
    padding-left: 40px;
    background-color: #8079a2;
    position: relative;
}
.equipmentFreeSection.row > .col .more_packages .title_bar.open {
    background-color:rgba(198, 204, 219, 0.2); 
}
.equipmentFreeSection.row > .col .more_packages .title_bar h2 {
    color:#fff;
    font-size: 16px;
}
.equipmentFreeSection.row > .col .more_packages .title_bar.open h2 {
    color: rgba(12, 23, 29, 0.85);
    font-size: 16px;
}

.equipmentFreeSection.row > .col .more_packages .more_content {
    background-color:rgba(198, 204, 219, 0.2); 
    padding:1px;
    padding-left: 40px;
    padding-bottom: 10px;
    overflow: hidden;
}
.equipmentFreeSection.row > .col .more_packages .more_content img {
    width: 30px;
    margin-right: 10px;
    float: left;
}

.equipmentFreeSection.row > .col .more_packages .more_content p {
    letter-spacing: 0;
    font-size: 13px;
    line-height: 1.55em;
    color: rgba(12, 23, 29, 0.65);
    margin-bottom: 20px;
}

.equipmentFreeSection.row > .col .more_packages .title_bar span.open_sesame {
    position: absolute;
    right: 12px;
    top: 12px;
}
.equipmentFreeSection.row > .col .more_packages .title_bar span.open_sesame img {
    width: 15px;
    display: none;
}

.equipmentFreeSection.row > .col .more_packages .more_content .tourDetailSecondaryMedia_wrapper div.tourDetailSecondaryMedia_slider {
    height: 200px;
}


section.reviewsSection.reviewsHorizontalScroller h2 {
        font-weight: 100;
    font-size: 30px;
    margin-bottom: 15px;
    color:rgba(12, 23, 29, 0.85);
    text-align: left !important;
}


section.attractionDetailMap {
    width: calc(100vw - 56px);
    max-width: 1080px;
    margin: 0 auto;
}

.tours_similar .row_of_attractions {
    padding-top: 70px;
}

.tours_similar .row_of_attractions h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: #25296e;
}
.tours_similar .row_of_attractions h4 {
    font-size: 26px;
    font-weight: 100;
    line-height: 1.35em;
    color: #25296e;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/*FAQ*/
div#accordion {
    position: relative;
}
img.open-sesame {
    position: absolute;
    right: 15px;
    top:10px;
}
img.close-shut {
    position: absolute;
    right: 15px;
    top:5px;
}
.panel-heading {
        padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
} 
.panel-body {
    border-top: 1px solid #ddd;
        padding: 15px;
}
.panel-body h4 {
        margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
        color: inherit;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
}
.panel-body p {
    font-size: 14px;
    line-height: 1.35;
}
/*Packages*/
section.reviewsSection.reviewsHorizontalScroller {
    max-width: 1080px;
    margin: 48px auto;
    width: 100%;
}

section > .row.attractionInfo .btn.primaryBtn {
    background: #DC2005;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 18px -4px rgba(0, 0, 0, 0.12);
    width: 100%;
}

section > .row.attractionInfo .btn.primaryBtn:hover {
    background: rgba(220, 32, 5, 0.75);
}


/*Slider*/
#slider {
    position: relative;
    overflow: hidden;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/*Booking Form*/

.bookingForm {
    position: absolute;
    right: 0;
    top:-110px;
}

.bookingFormWrapper {
    max-width: 480px;
    width: calc(100vw - 40px);
    border-radius: 6px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    background: #FFFFFF;
    margin-right:0;
    padding: 30px 36px 24px;
    margin-top: 20px;
}
section.bookingForm.reviewsHorizontalScroller > h2 > a.writeReview:hover:after {
    background: rgba(0, 112, 187, 1);
}

.bookingFormWrapper .inputRow {
    display: block;
    margin-bottom: 12px;
}

.bookingFormWrapper .inputRow label {
    display: block;
}

.bookingFormWrapper .inputRow textarea, .bookingFormWrapper .inputRow input, .bookingFormWrapper .inputRow select {
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 16px;
    outline: none;
    height: 50px;
    background-color: #fff;
    margin-bottom: 15px;
}
.bookingFormWrapper .inputRow input {
    background-color: #E01F29;
}
.bookingFormWrapper .inputRow p {
    color:rgba(12, 23, 29, 0.85);
    text-align: center;
}

/*Contact Page*/
.contact_wrapper {
    width: 80%;
    margin: 0 auto;
}


/*Global Side Menu*/
.globalSideMenu .cart_indicator {
    position: relative;
}
.globalSideMenu .cart_indicator a {
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .12em;
    padding-left: 9px;
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.globalSideMenu .cartCheckoutCol a.btn.checkoutBtn.orange {
    vertical-align: middle;
    padding-left: 0;
}
.globalSideMenu a.cartLink > span.cartCount {
    left: 0;
    top:16px !important;
    font-size: 12px !important;
}
.globalSideMenu ul.sidebar_link_list li .socialRow.row {
    margin-left: 20px !important;
}


/*Responsive*/
@media only screen and (max-width:1206px) {
    .routes_map_title {
        width: 350px;
    }
    .routes_map_header {
        width: calc(100% - 350px);
    }
}
@media only screen and (max-width:950px) {
    .column_reviews .why_choose_us li h6 {
        text-align: center;
    }
}
@media only screen and (max-width:970px) {
    div.mainHeader .row.middleRow .sub_header .menu {
        display: none;
    }
        div.mainHeader .row.middleRow .right_float {
        display: none;
    }
    section.midContainer.row.homepageTourInfo > .col:first-child {
        display: none !important;
    }
    .column_packages .solo_package {
        float: none;
        width: 100%;
    }
    .home_columns .column_packages {
        padding: 20px;
    }
    .solo_package .starting_price p {
        font-size: 13px;
    }
    .solo_package .starting_price p span.big {
        font-size: 14px;
    }
}

@media only screen and (max-width:860px) {
    /*ROUTES*/
    .mainContainer.routeContainer {
        height: auto;
    }
    .routes_map_title {
        width: 100%;
    }
    .routes_map_header {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 127px;
        float: none;
    }
    .routes_map_btn {
        width: 31.33%;
        margin-bottom: 10px;
    }
    .routes_map_btn .routeSelection h4 {
        font-size: 11px;
    }
    .halfContainer#routes {
/*        display: none;*/
        width: 100%;
    } 
    div#attractions {
        display: none;
    }
    .mobile_portion {
        background: #7c1203;
    height: 83px;
    padding-top: 33px;
        width: 100%;
        cursor: pointer;
        display: block !important;
    }
    .mobile_portion h4 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 19px;
        color: #fff;
    }
    .halfContainer#maps {
        position: relative;
        width: 100%;
        top:0;
    }
    .attractions_list {
        display: none;
    }
}


@media only screen and (max-width:600px){
    body, html {
        overflow-x:hidden !important;
    }
    .video-container {
        height: auto;
    }
    .gonyUniverse {
        height: 42px;
    }
    .topLevelHeader {
        padding: 10px 15px 0px;
    }
    .topLevelHeader .leftBlock h6 {
        display: none;
    }
    .topLevelHeader .leftBlock img {
        width: 20px;
    }
    .rightBlock .blockLinks {
        display: none;
    }

    .col.busTours {
        padding: 11px 20px 10px;
    }
    .pageWrapper.homePageWrapper .topSection .heroContainer .heroText {
        padding-top: 110px;
    }
    .home_columns > div {
        height: auto;
    }

    .pageWrapper.homePageWrapper section.topSection .heroContainer .heroSlideshow {
        top:-50px;
        height: 500px !important;
    }
    .pageWrapper section.topSection .heroContainer .sub_header .logo {
        padding: 20px;
        width: 200px;
        margin: 0 auto;
        display: block;
    }
    .pageWrapper section.topSection .heroContainer .sub_header .menu {
        display: none;
    }
    .pageWrapper.homePageWrapper .topSection .heroContainer .heroText,
    .pageWrapper.toursIndexPageWrapper section.topSection .heroContainer .heroText {
        padding-top: 80px !important;
        left: 0 !important;
    }
    .topSection .heroContainer .heroText h1.valB {
        font-size: 22px;
        padding-left: 0;
        padding-right: 0;
    }
    .reservationBarWrapper .step {
        margin-bottom: 8px;
    }

    .promo_home_text h1 {
        font-size: 26px !important;
        line-height: 1.4em;
    }

    .pageWrapper.homePageWrapper section.midContainer.row {
        margin-top: 0 !important;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .homepage-hero-module  video.fillWidth {
    height: 400px;
    width: auto;
} 
    .home_columns {
        padding-bottom: 30px;
    }
    .homepage-hero-module .heroText {
        width: 90%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 200px;
    }

    section.lastSection > .primaryContentWidth.row.row_of_3 .col {
        margin-bottom: 10px;
    }

    .offer_row {
        padding-bottom: 50px;
    }

    .row_of_perks {
        width: 90%;
        padding-bottom: 50px;
    }
    .perk_row ul li:first-child {
        width: 100%;
        float: none;
    }
    .perk_row ul li {
        width: 33.3%;
    }
    .perk_row ul li p {
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
    section.homepageTours {
        padding-bottom: 0;
    }
    .row_of_attractions {
        margin-bottom: 0;
    }
    section.lastSection > .primaryContentWidth.row.row_of_6 .col {
        width: 33.3%;
    }

    .subscribe_container {
        width: 90%;
    }
    .subscribe_section h4 {
        width: 100%;
    }
    .subscribe_form input[type="submit"] {
        margin-top: 10px;
        width: 250px;
        margin-left: 0;
    }
    section.lastSection > .primaryContentWidth.row.row_of_3 .col {
        padding: 10px;
        padding-bottom: 0;
    }

    .footerSiteIndexSection h6.valB.gray {
        margin: 5px auto;
    }



    /*Tours Page*/
    section.tour_explore {
        margin-top: 0;
    }
    .pageWrapper.toursIndexPageWrapper section.topSection .heroContainer .heroSlideshow  {
        display: none;
    }
    .topSection .heroContainer .heroText > div.reservationBarWrapper {
        width: 90% !important;
    }
    .reservationBarWrapper {
    -webkit-transform: initial ;
    -webkit-transform-origin: initial;
    transform: initial;
    transform-origin: initial;
    }
    section.tour_explore {
        padding-top: 50px;
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    .tour_container {
        padding-bottom: 40px;
    }
    .tour_header h3,
    .tour_header h1 {
        color:#272d6a;
        text-align: center;
    }
    .tour_subscribe p,
    .tour_subscribe h3 {
        width: 90%;
        margin: 0 auto 10px;
        text-align: center;
    }

    section.toursGrid {
        width: 100%;
        float: none;
    }

    section.middleSection.toursGrid.toursGridSimplified > .col > img {
        width: 100%;
    }
    section.middleSection.toursGrid.toursGridSimplified > .col > a h4 {
        text-align: center;
        float: none;
    }
    .featuredTours .featuredTour {
        width: 100%;
        float: none;
        margin: 20px auto;
        height: auto;
    }
    .featuredTours .featuredTour .featuredDesc {
        width: 100%;
    }


    /*Tour Detail*/
    body.tours.tour .pageWrapper section.topSection .heroContainer {
        height: 300px !important;
        min-height: 300px !important;
    }
    body.tours.tour div.pageWrapper section.topSection .heroContainer .tourOptionsSlider button, .tourOptionsSlider .slide .tourAdjacentName{
        display: none;
    }
    body.tours.tour section.bookingSection.middleSection div.row.dealsEquipmentCols > .col {
        width: 100% !important;
    }

    .bookingForm {
        position: relative;
        top:0;
    }
    .bookingFormWrapper {
        width: 100%;
    }
    a.btn.primaryBtn.reserveBtn {
        margin-bottom: 20px;
    }
    .pass_validity .text {
        width: 100%;
    }
    .equipmentFreeSection.row > .col {
        margin-right: auto !important;
    }
    .equipmentFreeSection.row > .col .more_packages {
        width: 100%;
        margin: 20px auto;
    }
    section.bookingSection.middleSection .row.dealsEquipmentCols > .col:last-child .equipmentFreeSection > .col {
        width: 100%;
    }
    div.slick-slider .slick-list .slick-track {
        width: 100% !important;
    }
    .tourDetailSecondaryMedia_wrapper div.tourDetailSecondaryMedia_slider {
        min-height: 25vh;
    }

    .row_of_attractions {
        width: 100%;
    }
    .column_reviews .why_choose_us li h6 {
        text-align: center;
        margin-bottom: 5px;
    }

    /*Footer*/
    hr.styleone {
        margin: 5px auto;
    }
    ul.social_links_list {
        margin: 5px auto;
    }
    .footerSiteIndexSection > .right_float h6.valB.gray {
        text-align: center;
    }

    /*Mobile Menu*/
    body.sidebarMenuActive .mainHeader .topRow {
        display: none;
    }
    .globalSideMenu .sideMenuSocial {
        padding-left: 5px;
    }
    .globalSideMenu .sideMenuSocial li a {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }


    /*Temporary*/
    .col.waterTours,
    .col.bikeRentals {
        display: none;
    }
    section.midContainer.row.homepageTourInfo > .col:first-child {
        display: none;
    }

    /*Contact*/ 

    .pageWrapper.cmsPageWrapper .fixedReserveRow {
        display: none;
    }
    .pageWrapper.cmsPageWrapper.locationsPageWrapper > h3.medium.val {
        width: 95%;
    }

    /*FAQ*/
    .pageWrapper.faqPageWrapper.cmsPageWrapper .qa_wrapper > .row.row_of_3 {
        width: 100%;
        float: none;
        margin: 24px auto !important;
    }

    /*ABOUT*/
    .pageWrapper.aboutPageWrapper.cmsPageWrapper .about_hero p.valB {
        width: 95%;
    }
    .pageWrapper.aboutPageWrapper.cmsPageWrapper > .tiling.row.squareContents {
        width: 100%;
    }
    .pageWrapper.aboutPageWrapper.cmsPageWrapper > .tiling.row.squareContents .row.row_of_2 > .col {
        width: 100% !important;
        margin: 0 auto 30px;
    }
    .tiling.row.squareContents > .row .absTransCenterRevised {
        width: 100%;
    }

    /*CONTACT*/
    section.locationImagesWrapper {
        height: 100%;
    }
    .mod-form {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 10px;
    }
    .promo_home_text {
        width: 100%;
    }
    .main_packages_child {
        width: 100%;
        float: none;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .main_packages_pricing > div:first-child {
        margin-bottom: 10px;
    }
    .main_packages_pricing > div {
        width: 100%;
        float: none !important;
        text-align: center !important;
    }
    
    /*    ROUTES*/
    .routes_map_btn {
        float: left;
    }
    .main_packages_pricing > div:last-child {
        display: none;
    }
    .main_packages_pricing > div h6 {
        background:#333;
        padding: 5px;
        color:#fff;
    }
    .packagePricing > div {
        width: 48%;
    }
    div.packagePricing > div h6.gray.uppercase.valB {
        text-align: center !important;
    }
}