a, a:hover, button{
	transition: all 200ms ease;
}

.rgba(@color, @opacity : 1){
	@result: rgba( red(@color), green(@color), blue(@color), @opacity );
}

ul, ol{
	margin:0;
}




::-webkit-input-placeholder {
	color: #535353;
	font-style: italic;
	font-weight: 500;
}

:-moz-placeholder { /* Firefox 18- */
	color: #535353;  
	font-style: italic;
	font-weight: 500;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #535353;  
	font-style: italic;
	font-weight: 500;
}

:-ms-input-placeholder {  
	color: #535353;  
	font-style: italic;
	font-weight: 500;
}
#newsletter {
	.modal-body {
		padding: 25px 35px 10px 35px;
		text-align: center;
	}
	.modal-dialog {
		min-width: 610px;
	}
	.inner{
		text-transform: uppercase;
		color: @blue;
		line-height: 1.2;
		max-height: 200px;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		width: 250px;
		p{
			font-size: 30px;
			line-height: normal;
			text-align: left;
			font-weight: 700;
		}
		.number{
			font-size: 150px;
			position: relative;
			top: -40px;
			font-weight: 700;
			float: left;
		}
		.right{
			float: right;
		}
		.top{
			font-size: 70px;
			font-weight: 700;
			position: absolute;
			top: 35px;
			line-height: 0.9;
			text-align: center;
			right: -80px;
		}
		.bottom{
			position: absolute;
			bottom: 10px;
			line-height: 2.1;
			font-size: 47px;
			font-weight: 700;
			letter-spacing: 4px;
		}
	}
}
.cms-pages{
	font-size: 20px;
	padding: 80px 0;
	line-height: 1.7;
	p{
		margin-bottom: 40px;
	}
}

.alphabet{
	padding: 50px 0;
	li{
		a{
			font-size: 24px;
			font-weight: 700;
		}
	}


}
.brands{
	h2{
		font-size: 48px;
		font-weight: 700;
		border-bottom: 1px solid #000;
		text-align: center;
		padding-bottom: 15px;
		text-transform: uppercase;
		margin-bottom: 60px;
		margin-top: 0;
	}
	a{
		display: inline-block;
		line-height: 1.9;
		position: relative;
		padding-left: 110px;
		margin-bottom: 10px;

		&:hover img{
			opacity: 0.5;
		}
	}
	img{
		vertical-align: top;
		margin-right: 8px;
		position: absolute;
		left: 0;
		top: -4px;
		transition: all ease 200ms;
	}
	ul{
		list-style-type: none;
		padding: 0;
		li{
			text-transform: uppercase;
		}
	}
}


h5.modal-title{
	color: #424242;
	letter-spacing: 2px;
	margin: 15px 0 15px;
}
.link-blue{
	color: @blue;
	font-style: italic;
	font-weight: 600;
	display: inline-block;
	border-bottom: 1px solid @blue;
	line-height: 1;
	&:hover, &:focus{
		border-bottom-color: transparent;
		text-decoration: none;
	}
}

/* Container used for styling the custom select, the buttom class below adds the bg gradient, corners, etc. */
.custom-select {
	position: relative;
	display:block;
	padding:0;
	border: 1px solid #000;
	background-color: #FFF;
}


/* This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper */
.custom-select select {
	width:100%;
	margin:0;
	background:none;
	border: 1px solid transparent;
	outline: none;
	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	/* Font size must the 16px or larger to prevent iOS page zoom on focus */
	font-size: 20px;
	font-weight: 700;
	padding: 8px 15px;
	height: 58px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select. Note this si a 2x image so it will look bad in browsers that don't support background-size. In production, you'd handle this resolution switch via media query but this is a demo. */

.custom-select::after {
	content: "";
	position: absolute;
	width: 20px;
	padding-right: 55px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	margin-top: 0;
	background-image: url('../img/select-arrow.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center 22px;
	background-color: #FFF;
	z-index: 2;
	pointer-events: none;
}


/* Hover style */

/* Focus style */
.custom-select select:focus {
	outline:none;
	box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
	background-color:transparent;
	color: #222;
	border:1px solid #aaa;
}

/* Set options to normal weight */
.custom-select option {
	font-weight:normal;
}






/* ------------------------------------  */
/* START OF UGLY BROWSER-SPECIFIC HACKS */
/* ----------------------------------  */

/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus, .custom-select::after {
	display:none;
}    

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.custom-select select::-ms-expand {
		display: none;
	}
	.custom-select select:focus::-ms-value {
		background: transparent;
		color: #222;
	}
}  


/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() { 
	.custom-select {
		overflow: hidden;
	}
	.custom-select select {
		width: 120%;
		width: -moz-calc(100% + 3em);
		width: calc(100% + em);
	}

}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}



/* ------------------------------------  */
/*  END OF UGLY BROWSER-SPECIFIC HACKS  */
/* ------------------------------------  */



.table-products{
	h4{
		font-size: 16px;
		margin: 0;
		letter-spacing: 0;
	}
	span{
		font-size: 12px;
	}
	td{
		text-align: center;
		vertical-align: middle;
		font-weight: 500;
	}
	img{
		.img-responsive(inline-block);
	}
	.link-blue{
		font-size: 15px;
	}
	.qty{
		max-width: 60px;
		margin: 0 auto;
	}
	.close{
		float: none;
		font-size: 60px;
		color: @blue;
		opacity: 1;
	}
}